/* Appleseed General Style Definitions */

 /* -- NEW DEFINITIONS -- */

 #sectionA {
  float:left;width:255px;
 }

 #logoA {
  margin-top:0px;
  left:0px;
  width:177px;
  height:131px;
  background:url(/themes/ophelia/images/header/header_bottom.gif) no-repeat;
 }

 #sectionB {
  float:left;
  width:280px;
 }

 #logoB {
 }

 #sectionC {
  float:right;width:230px;
 }

 #logoC {
 }

 #sectionAB {
  float:left;width:510px;
 }

 #logoAB {
 }

 #sectionBC {
  float:right;width:510px;
 }

 #logoBC {
 }

 #browserFULL {
  float:left;
  width:100%;
 } 

 #sectionFULL {
  clear:both;
  text-align:left;
  width:765px;
  margin:0px; 
  padding:0px;
  margin-right:auto;
  margin-left:auto;
 }

 #refresh {
  text-align:center;
 }

 #sectionPHOTO {
  clear:both;
  text-align:center;
  width:auto;
  min-width:510px;
  margin:0 auto;
  border:none;
 }

 #sectionPHOTO a {
  background:none;
 }

 #sectionERROR {
  clear:both;
  width:300px;
  margin:0px auto;
 }

 /* -- HTML DEFINITIONS -- */

 html  {
  min-height:100%;
  width:100%;
  height:100%;
 }
 
 body {
  font:10px Arial;
  color:#000000;
  background-color:#FFFFFF;
  margin:0px 0px 0px 0px;
  padding:0px;
  text-align:center;
 }

 table {
  font:10px Arial;
  margin:0px 0px 0px 0px;
  padding:0px;
 } 

 form, fieldset {
  display: inline;
  margin:0px;
  padding:0px;
  border:none;
 }

 input.submit {
  font-weight:normal;
  color:#FFFFFF;
  background:#000000
 }

 input.image {
  margin:0px;
  border:none;
  padding:0px;
  background:none;
 }

 input.radio {
  border:none;
  background-color:#FFFFFF;
  color:#FFFFFF;
  padding:0px;
 }

 input, textarea {
   font:10px Arial;
   color:#8c9095;
   background:#ecf0f5;
   vertical-align:top;
   border:1px solid #ccd0d5;
   padding:1px 3px;
   -moz-border-radius:12px;
 }

 select {
  font:10px Arial;
  color:#8c9095;
  vertical-align:top;
  background-color:#ecf0f5;
  border:1px solid #ccd0d5;
  -moz-border-radius:6px;
  padding:0px;
  margin:0px;
  padding-left:2px;
 }

 input:hover, select:hover, textarea:hover {
   background:#fafafa;
   color:#4c5055;
   border-color:#acb0b5
 } 

 input:focus, select:focus, textarea:focus {
   color:#0c1015;
   background:#ffffff;
   border-color:#8c9095
 } 

 input[type="checkbox"], input[type="radio"] {
  margin:0px; padding:0px;
 }

 a {
  text-decoration:none;
  color:#3c4b33;
  background-color:#cde1df;
 }

 a:hover {
  text-decoration:underline;
  background-color:#cde1df;
  color:#000000;
 }

 h1.photo#name {
  color:#000000;
  display:inline;
 } 

 h1.photo#description {
  color:#565656;
  display:inline;
 } 

 h1 {
  font:10px Arial;
  color:#000000;
 }

 h1.left {
  font:10px Arial;
  color:#000000;
  text-align:left;
  margin-bottom:0px;
  padding-right:4px;
 }

 h1.right {
  font:10px Arial;
  color:#000000;
  text-align:right;
  margin-bottom:0px;
  padding-right:4px;
 }

 h1.cntr {
  font:10px Arial;
  color:#000000;
  text-align:center;
 }

 hr.comment {
  padding:0px;
  margin:0px;
  color: #000000;
  background-color: #000000;
  height: 1px;
  border:none;
 }

 hr.thin {
  padding:0px;
  margin-top:0px;
  margin-bottom:0px;
  color:#000000;
  background-color:#000000;
  height: 1px;
  border:none;
 }

 font.currentpage {
  font:12px Arial;
  font-weight:bold;
  color:#263376;
 }

 strong {
  font:11px Arial;
  font-weight:bold;
 }

/* -- Layout Style Definitions -- */

 /* HEADER DEFINITION */

 #header {
   float:left;
   clear:both;
 }

  #header_top {
   clear:both;
   float:left;
   height:24px;
   padding-top:5px;
   background:url(/themes/ophelia/images/header/header_top.gif) no-repeat;
  }

  #header_friends {
   display:inline;
   float:left;
   text-align:right;
   color:#0232ff;
   font-style:italic;
   text-align:right;
   width:350px;
   margin-right:10px;
  }

  #header_friends a {
   padding-right:2px;
   padding-left:2px;
  }

  #header_email {
   float:left;
   display:inline;
   color:#0232ff;
   font-style:italic;
   width:160px;
   text-align:center;
  }

  #header_email a {
   padding-right:2px;
   padding-left:2px;
  }

  #header_loggedin {
   float:right;
   display:inline;
   width:235px;
   margin-right:5px;
   text-align:right;
  } 

  #header_menu {
   height:21px;
   float:right;
  }

  #header_bottom {
  }

  a.anonymoususer {
   float:none !important;
   clear:none !important;
   background:#eaeaea;
  } 

  a.localuser {
  }

  a.remoteuser {
   background:#d0cde1;
  } 

  a.remotegroup {
   background:#d0cde1;
  } 

 /* FOOTER  DEFINITION */

 #footer {
  clear:both;
  width:765px;
  text-align:center;
  padding-top:20px;
  padding-bottom:10px;
  margin-top:10px;
 }

 #sectionERROR #footer {
  clear:both;
  width:300px;
  text-align:center;
  padding:0px;
  margin:0px;
 }


 /* GENERIC DEFINITIONS */

 #left {
  text-align:left;
 }

 #right {
  text-align:right;
 }

 #right-padded {
  text-align:right;
  margin-right:8px;
 }

 #centered {
  text-align:center;
 }

.even {
 float:left;
 background-color:#dce0e5;
}

.odd {
 float:left;
 background-color:#ecf0f5;
}

/* Tooltips */

span,
p {
  position:relative;
}

span:hover,
p:hover {
  z-index:1; 
  cursor:default;
}

a span.linkinfo,
span span.tooltip,
p span.tooltip {
  display:none;
}

a:hover span.linkinfo,
span:hover span.tooltip,
p:hover span.tooltip { 
  padding:10px !important;
  display:block;
  position:absolute;
  min-width:100px;
  max-width:200px;
  width:auto;
  text-align:center;
  top:14px; left:14px;
  background:#dadaff;
  border:1px solid #cccccc;
  border-right:2px solid #999999;
  border-bottom:2px solid #999999;
  -moz-border-radius:12px;
  opacity:.90;
}

a:hover span.linkinfo {
  top:-50; left:50px;
  opacity:.95;
  text-decoration:none;
}

.linkinfo span.icon,
.linkinfo span.fullname,
.linkinfo span.domain,
.linkinfo span.online {
  margin:0 0 2px 0; padding:0;
} 

/* DEBUG INFORMATION */
#debug,
#debug #benchmark,
#debug #statement,
#debug #errors {
 float:left;
 clear:both;
 width:100%;
}

#debug #container {
 float:left;
 width:80%;
 margin-left:10%;
 margin-right:10%;
 background:#fafafa;
 border:1px solid #cccccc;
 border-right:2px solid #999999;
 border-bottom:2px solid #999999;
 padding:10px;
 -moz-border-radius:12px;
 text-align:left;
}

#debug #title {
 float:left;
 clear:both;
}

#debug #title a {
 float:left;
 padding:10px;
}

#debug #caption {
 float:left;
 width:79%;
 margin-right:10%;
 margin-left:11%;
 padding:10px 0 0 0;
 text-align:left;
}

#debug ul {
 float:left;
 width:100%;
 border:1px solid #cccccc;
 border-right:2px solid #999999;
 border-bottom:2px solid #999999;
 margin:0; padding:0;
}

#debug ul li {
 float:left;
 list-style-type:none;
 width:100%;
 display:block;
}

#debug ul li span {
 float:left;
 padding:5px 0 5px 1%;
}

#debug #statement ul li span.count {
 width:9%;
}

#debug #statement ul li span.statement {
 width:59%;
}

#debug #statement ul li span.benchmark {
 width:9%;
}

#debug #statement ul li span.class {
 width:19%;
 padding:5px 1% 5px 0;
 float:right;
 text-align:right;
 font-style:italic;
}

#debug #benchmark span.label {
 width:69%;
}

#debug #errors ul li .error,
#debug #errors ul li .warning {
 color:#cc3311;
}
#debug #errors ul li .error {
 color:#ff0000;
 font-size:12px;
}

#debug #errors span.count {
 width:9%;
}

#debug #errors span.string {
 width:69%;
}

#debug #errors span.type {
 width:9%;
}

#debug #errors span.file {
 display:block;
 width:89%;
 padding-left:11%;
 color:#999999;
}

#debug #errors span.line {
 text-align:right;
 padding:5px 1% 5px 0;
 width:9%;
}

#debug #quick {
 text-align:center;
}
#debug a {
 background:none;
}
#debug #quick a {
 padding:0 20px;
}
