/* CONTEXT: content */

#content {
}

#content form p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

#content div.search {
 width:572px;
 left:-6px;
}

#content form p.error:hover {
 color:#aa0000;
 background:none;
} 

/* CONTEXT: content.tabs */

#content #tabs { 
 position:relative;
 float:left;
 left:-75px;
 width:585px;
 height:13px;
 margin-top:10px;
 margin-bottom:5px;
 text-align:justify;
}

#content #tabs a {
 background:none;
} 

#content #tabs img {
 margin-left:10px;
} 

/* CONTEXT: content */

#content #container {
 position:relative;
 clear:both;
 float:left;
 width:562px;
 left:-75px;
 background:#fafafa;
 border:1px solid #cccccc;
 border-right:2px solid #999999;
 border-bottom:2px solid #999999;
 padding:10px;
 -moz-border-radius:12px;
 text-align:left;
}

#content #caption {
 position:relative;
 clear:both;
 float:left;
 width:562px;
 left:-75px;
 padding:10px 0 0 10px;
 color:#000000;
}


/* CONTEXT: content.articles */

#articles #container {
 position:relative;
 width:570px;
 left:-75px;
 clear:both;
 float:left;
 font:11px Arial;
 background:#fafafa;
 border:1px solid #cccccc;
 border-right:2px solid #999999;
 border-bottom:2px solid #999999;
 margin:0 0 10px 0;
 text-align:justify;
 padding:0 6px;
 -moz-border-radius:12px;
}

#articles #caption {
 position:relative;
 width:562px;
 left:-75px;
 clear:both;
 padding:0 0 0 10px;
 margin:10px 0 0 0;
 color:#000000;
}

#articles #container .header span {
 float:left;
}

#articles #container .header span.icon {
 height:100px; 
 width:100px; 
 margin-right:10px;
}

#articles #container span.title {
 width:325px;
 font-size:13px;
 font-weight:bold;
}

#articles #container span.stamp {
 width:120px;
 text-align:right;
 font-size:10px;
 font-style:italic;
}

#articles #container span.posted {
 font-size:10px;
 width:375px;
}

#articles #container .header {
 float:left;
 width:560px;
 padding:4px;
 clear:both;
 border:1px solid #aaaaaa;
 border-bottom:0px;
 background:#ffffff;
 -moz-border-radius:12px 12px 0 0;
} 

#articles #container .article {
 float:left;
 clear:both;
 padding:4px 14px;
 width:540px;
 margin:0;
 border:1px solid #8c9095;
 border-bottom:none;
 background:#ecf0f5;
 text-align:justify;
}

#articles #container .footer {
 float:left;
 width:560px;
 padding:4px;
 clear:both;
 margin:0 0 10px 0;
 border:1px solid #8c9095;
 background:#ecf0f5;
 border-top:none;
 -moz-border-radius:0 0 12px 12px;
} 

#articles #container .footer span {
  float:left;
  width:264px;
}

#articles #container .footer span.comments {
  border-left:1px solid #8c9095;
  padding-left:10px;
}

#articles #container .footer span.read {
  text-align:right;
  border-right:1px solid #8c9095;
  padding-right:10px;
}

#articles #container .footer span.back {
  width:552px;
  text-align:left;
}

/* CONTEXT: content.comments */ 


#content #comments #tabs { 
 float:left;
 position:relative;
 left:-75px;
 width:585px;
 height:13px;
 margin-top:10px;
 margin-bottom:5px;
 text-align:justify;
}

#content #comments #tabs a {
 background:none;
} 

#content #comments #tabs img {
 margin-left:10px;
} 

#content #comments form#masslist #buttons_top span,
#content #comments form#masslist #buttons_bottom span {
 float:left;
}

#content #comments form#masslist #buttons_top span.move_down{
 width:50px;
 text-align:left;
}

#content #comments form#masslist #buttons_top span.move_up{
 width:175px
}

#content #comments form#masslist #buttons_top span.select_none,
#content #comments form#masslist #buttons_top span.select_all{
 width:200px;
}

#content #comments form#masslist #buttons_top span.delete_all{
 width:137px;
 text-align:right;
}

#content #comments form#masslist #buttons_bottom span.new{
 float:right;
}

#content #comments form#viewtype {
 float:right;
 margin:0 0 10px 0;
}

/* COMMENT DEFINITIONS */

#content #comments .header {
 float:left;
 position:relative;
 width:100%;
 padding:0px;
 height:auto;
 min-height:60px;
 background-color:#cfd3d8;
 -moz-border-radius:12px;
}

#content #comments .header .information {
 float:left;
 width:auto;
}

#content #comments span.icon {
 float:left;
 width:100px;
 min-height:50px;
 margin:10px;
}

#content #comments span.online {
 float:left;
 clear:both;
 width:100px;
 height:20px;
 margin:0 0 2px 10px;
 text-align:center;
}

#content #comments span.subject {
 float:left;
 clear:both;
 width:100%; 
 min-height:31px;
 font-size:13px;
 margin:10px 5px;
 font-weight:bold;
}

#content #comments span.authorfullname {
 float:left;
 clear:left;
 width:100%;
 padding:0 0 0 5px;
}

#content #comments span.author {
 float:left;
 clear:both;
 width:100%;
 margin:0 0 0 5px;
}

#content #comments span.stamp {
 float:left;
 clear:both;
 width:100%;
 margin:0 0 0 5px;
 vertical-align:top;
}

#content #comments span.check {
 float:right;
 width:auto;
 height:65px;
 margin:10px;
 vertical-align:top;
}

#content #comments span.delete_comment {
 float:right;
 clear:right;
 width:100%;
 vertical-align:bottom;
 text-align:right;
 margin:10px;
 width:auto;
 height:auto;
}

#content #comments span.body {
  float:left;
  clear:both;
  text-align:justify;
  width:96%;
  padding:5px 2% 15px 2%;
 }

#content #comments .footer {
  float:left;
  width:100%;
  font-size:9px;
  margin:0 8px 5px 8px;
  border-top:1px #3c4b33 solid;
}
 
#content #comments span.reply {
  display:inline;
  padding-left:5px;
  padding-right:5px;
  background:#cde1df;
 }

#content #comments span.parent {
  display:inline;
  padding-left:5px;
  padding-right:5px;
  background:#cde1df;
 }

#content #comments span.thread {
  display:inline;
  padding-left:5px;
  padding-right:5px;
  background:#cde1df;
 }

#content #comments ul {
 clear:both;
 list-style-type:none;
 padding:0px;
 margin:0px;
 margin-left:25px;
}

#content #comments ul.first {
 clear:both;
 list-style-type:none;
 width:562px;
 padding:0px;
 margin:0px;
}

/* CONTEXT: content.comments:flat */

#content #comments #flat ul {
 clear:both;
 list-style-type:none;
 padding:0px;
 margin:0px;
}

/* CONTEXT: content.comments:nested */

/* CONTEXT: content.comments:threaded */

#content #comments #threaded span.innerlink {
 float:left;
 padding:5px 0;
}

#content #comments span.online {
 float:left;
 clear:both;
 width:100px;
 height:20px;
 margin:0 0 2px 5px;
 text-align:center;
}


/* CONTEXT: content.comments:compact */

#content #comments #compact .header {
 float:left;
 width:100%;
 padding:2px;
 margin-top:3px;
 min-height:0px;
 height:14px;
 -moz-border-radius:6px;
}

#content #comments #compact span.subject {
 width:69%;
 min-height:0px;
 margin:0;
 margin-left:1%;
 font-size:11px;
 font-weight:bold;
 text-align:left;
}

#content #comments #compact span.byline {
 overflow:hidden;
 display:inline;
 float:left;
 width:29%;
 margin-right:1%;
 text-align:right;
}

#content #comments #compact span.body {
 clear:both;
 width:auto;
 padding:3px 5px 8px 5px;
}

#content #comments #compact span.footer {
 font-size:9px;
 margin:4px;
 margin-top:0px;
 margin-bottom:5px;
 border-top:1px #3c4b33 solid;
}

#content #comments #compact span.reply {
 display:inline;
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#content #comments #compact span.parent {
 display:inline;
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#content #comments #compact span.thread {
 display:inline;
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#content #comments #compact ul {
 clear:both;
 padding:0px;
 margin:0px;
 margin-left:12px;
}

#content #comments #compact ul.first {
 clear:both;
 padding:0px;
 margin:0px;
}

/* CONTEXT: content.comments.editor */

#content #comments {
 float:left;
}

#content #comments p#heading {
 width:562px;
 float:left;
 margin:5px 0 0 0; 
 text-align:left;
 border-bottom:1px solid #000000;
}

#content #comments {
 float:left;
}

#content #comments #actions,
#content #comments form#reply,
#content #comments form#add {
 float:left;
 clear:both;
 width:415px;
 margin:10px 74px 0 73px;
}

#content #comments #actions {
 margin:10px 0;
}

#content #comments #actions span {
 float:left;
}

#content #comments #actions span.comment_submit {
 width:260px;
 text-align:left;
}

#content #comments #actions span.cancel {
 width:155px;
 text-align:right;
}

/* edit, new */

#content #comments p {
 margin:10px 0 0 0;
} 

/* CONTEXT: content:scroll */

#content #scroll {
 float:left;
 position:relative;
 width:573px;
 left:-75px;
 padding:5px 5px 0 5px;
}

#content #scroll a.selected {
 font-size:11px;
 font-weight:bold;
} 

#content #scroll span.prev {
 float:left;
 width:105px; 
} 

#content #scroll span.footnote {
 float:left;
 text-align:center;
 width:363px; 
} 

#content #scroll span.next {
 float:right;
 text-align:right;
 width:105px; 
} 

/* CONTEXT: content:error,message */

#content p.error {
 float:left;
 width:583px;
 position:relative;
 left:-6px;
 color:#ffffff;
 cursor:crosshair;
 border:1px solid #a31a31;
 border-left:none;
 border-right:none;
 padding:1px 0;
 text-align:center;
 font-style:italic;
 background:#cc151a;
} 

#content p.error:hover {
 color:#cabdcf;
 border-color:#a31a31;
 background:#9a151a;
 cursor:crosshair;
} 

#content p.message {
 float:left;
 width:583px;
 position:relative;
 left:-6px;
 color:#ffffff;
 cursor:crosshair;
 border:1px solid #311aff;
 border-left:none;
 border-right:none;
 padding:1px 0;
 margin-bottom:10px;
 text-align:center;
 font-style:italic;
 background:#311Aff;
} 

#content ul p.message {
 left:-47px;
} 

#content ul span.body a {
 background:none;
}

#content ul span.body a.remotegroup,
#content ul span.body a.remoteuser {
  background:#d0cde1;
}

#content ul span.body a.localgroup,
#content ul span.body a.localuser {
  background:#cde1df;
} 

#content p.message:hover {
 color:#aaaaaa;
 background:#0106aa;
 cursor:crosshair;
} 

#content textarea {
 width:474px;
 height:200px;
}

/* CONTEXT: content.comments */ 

#content #comments form#masslist #buttons_top span,
#content #comments form#masslist #buttons_bottom span {
 float:left;
}

#content #comments form#masslist #buttons_top span.approve{
 width:150px
}

#content #comments form#masslist #buttons_top span.select_none,
#content #comments form#masslist #buttons_top span.select_all{
 width:200px;
}

#content #comments form#masslist #buttons_top span.delete_all{
 width:137px;
 text-align:right;
}

#content #comments form#masslist #buttons_bottom span.new{
 float:right;
}

#content #comments form#viewtype {
 float:right;
 margin:0 0 10px 0;
}

/* COMMENT DEFINITIONS */

#content #comments #flat .header,
#content #comments #threaded .header,
#content #comments #nested .header,
#content #comments #editor .header {
 position:relative;
 width:100%;
 padding:0px;
 float:left;
 margin:10px 0 0 0;
 height:auto;
 min-height:102px;
 background-color:#cfd3d8;
 -moz-border-radius:12px;
}

#content #comments #flat span.icon,
#content #comments #threaded span.icon,
#content #comments #nested span.icon,
#content #comments #editor span.icon {
 position:relative;
 clear:both;
 left:10px;
 top:1px;
}

#content #comments #flat span.online,
#content #comments #threaded span.online,
#content #comments #nested span.online,
#content #comments #editor span.online {
 position:absolute;
 top:80px;
 left:120px;
}

#content #comments #flat span.subject,
#content #comments #threaded span.subject,
#content #comments #nested span.subject,
#content #comments #editor span.subject {
 position:absolute;
 top:10px;
 left:120px;
 font-size:13px;
 font-weight:bold;
}

#content #comments #flat span.authorfullname,
#content #comments #threaded span.authorfullname,
#content #comments #nested span.authorfullname,
#content #comments #editor span.authorfullname {
 position:absolute;
 left:120px;
 top:53px;
}

#content #comments #flat span.author,
#content #comments #threaded span.author,
#content #comments #nested span.author,
#content #comments #editor span.author {
 position:absolute;
 left:120px;
 top:40px;
}

#content #comments #flat span.stamp,
#content #comments #threaded span.stamp,
#content #comments #nested span.stamp,
#content #comments #editor span.stamp {
 position:absolute;
 left:120px;
 top:66px;
}

#content #comments #editor span.check {
 position:absolute;
 top:10px;
 left:87%;
}

#content #comments #flat span.delete_comment,
#content #comments #threaded span.delete_comment,
#content #comments #nested span.delete_comment,
#content #comments #editor span.delete_comment {
 position:absolute;
 top:30px;
 left:80%;
}

#content #comments #flat span.body,
#content #comments #threaded span.body,
#content #comments #nested span.body,
#content #comments #editor span.body {
 clear:both;
 text-align:justify;
 padding:0 2% 15px 2%;
}

#content #comments #flat .footer,
#content #comments #threaded .footer,
#content #comments #nested .footer,
#content #comments #editor .footer {
 clear:both;
 position:relative;
 width:100%;
 margin:5px 0;
 font-size:9px;
 border-top:1px #3c4b33 solid;
}
 
#content #comments #flat span.comment_reply,
#content #comments #threaded span.comment_reply,
#content #comments #nested span.comment_reply,
#content #comments #editor span.comment_reply {
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#content #comments #threaded span.comment_parent,
#content #comments #nested span.comment_parent,
#content #comments #editor span.comment_parent {
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#content #comments #threaded span.comment_thread,
#content #comments #nested span.comment_thread,
#content #comments #editor span.comment_thread {
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#content #comments #threaded ul,
#content #comments #nested ul,
#content #comments #editor ul {
 list-style-type:none;
 padding:0px;
 margin:0px;
 margin-left:20px;
}

#content #comments #flat ul,
#content #comments #flat ul.first,
#content #comments #threaded ul.first,
#content #comments #nested ul.first,
#content #comments #editor ul.first {
 width:562px;
 margin:0px;
}

#content #comments #flat ul li,
#content #comments #threaded ul li,
#content #comments #nested ul li,
#content #comments #editor ul li {
 clear:both;
}

#content #comments #flat ul li.deleted,
#content #comments #threaded ul li.deleted,
#content #comments #nested ul li.deleted,
#content #comments #editor ul li.deleted {
 font-size:12px;
 font-weight:bold;
 margin:10px 0;
}


/* CONTEXT: content.comments:flat */

#content #comments #flat ul {
 clear:both;
 list-style-type:none;
 padding:0px;
 margin:0px;
}

/* CONTEXT: content.comments:nested */

/* CONTEXT: content.comments:threaded */

#content #comments #threaded span.innerlink {
 float:left;
 padding:5px 0;
}

/* CONTEXT: content.comments:compact */

#content #comments #compact .header {
 float:left;
 width:100%;
 padding:2px;
 margin-top:3px;
 background-color:#cfd3d8;
 min-height:0px;
 height:14px;
 -moz-border-radius:6px;
}

#content #comments #compact span.subject {
 float:left;
 width:69%;
 min-height:0px;
 margin:0;
 margin-left:1%;
 font-size:11px;
 font-weight:bold;
 text-align:left;
}

#content #comments #compact span.byline {
 overflow:hidden;
 display:inline;
 float:left;
 width:29%;
 margin-right:1%;
 text-align:right;
}

#content #comments #compact span.body {
 clear:both;
 width:auto;
 padding:3px 5px 8px 5px;
}

#content #comments #compact .footer {
 font-size:9px;
 margin:4px;
 margin-top:0px;
 margin-bottom:5px;
 border-top:1px #3c4b33 solid;
}

#content #comments #compact span.comment_reply {
 display:inline;
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#content #comments #compact span.comment_parent {
 display:inline;
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#content #comments #compact span.comment_thread {
 display:inline;
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#content #comments #compact ul {
 clear:both;
 padding:0px;
 margin:0px;
 margin-left:12px;
}

#content #comments #compact ul.first {
 clear:both;
 padding:0px;
 margin:0px;
}

/* CONTEXT: content.comments.editor */

#content #comments {
 float:left;
}

#content #comments .info {
 float:left;
 margin:10px;
 padding:10px;
 width:520px;
 font-style:italic; 
 border:1px solid #ecf0f5;
 background-color:#f5f9fc;
 -moz-border-radius:6px;
}

#content #comments p#heading {
 width:562px;
 float:left;
 margin:5px 0 0 0; 
 text-align:left;
 border-bottom:1px solid #000000;
}

#content #comments #editor {
 float:left;
}

#content #comments #actions,
#content #comments form#reply,
#content #comments #editor form#add {
 float:left;
 clear:both;
 width:414px;
 margin:10px 74px 0 73px;
}

#content #comments #actions {
 margin:10px 0;
}

#content #comments #editor form#add p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

#content #comments #editor form#add p.error:hover {
 color:#aa0000;
} 

#content #comments #actions span {
 float:left;
}

#content #comments #actions span.comment_submit {
 width:290px;
 text-align:left;
}

#content #comments #actions span.cancel {
 width:123px;
 text-align:right;
}

/* edit, new */

#content #comments #editor p {
 margin:10px 0 0 0;
} 

#content #articles #submit {
 float:left;
}

/* CONTEXT: content.articles:edit,submit */

#content #articles p#top {
 border-bottom:1px solid #000000;
} 

#content #articles #submit p {
 margin:10px 0 0 0;
} 

#content #articles form#edit,
#content #articles #submit form#submit {
 float:left;
 clear:both;
 width:414px;
 font-size:10px;
 margin:10px 74px 0 73px;
}

#content #articles form#edit p {
 margin:10px 0 0 0;
} 

#content #articles form#edit p.error,
#content #articles #submit form#submit p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

#content #articles form#edit p.error:hover,
#content #articles #submit form#submit p.error:hover {
 color:#aa0000;
} 

#content #articles #submit textarea.summary{
 height:100px;
}

#content #articles #actions {
 float:left;
 width:414px;
 padding-top:5px;
 margin:10px 0;
 border-top:1px solid #dce0e5;
} 

#content #articles #actions form#cancel {
 width:auto;
}

#content #articles #actions span {
 float:left;
}

#content #articles #actions span.save {
 width:358px;
} 

#content #articles #actions span.submit {
 width:294px;
} 

#content #articles #actions span.delete {
 width:64px;
} 

#content #articles #actions span.cancel {
 width:55px;
 text-align:right;
} 

/* CONTEXT: content.articles:queue */

/* titles, listing */

#content #articles ul {
 float:left;
 color:#ffffff;
 padding:0px;
 margin:10px 0px 30px 0px;
 text-align:left;
} 

#content #articles li {
 clear:both;
 height:auto;
 max-height:96px;
 overflow:hidden;
 list-style-type:none;
} 

#content #articles li:hover a,
#content #articles li:hover {
 color:#311aff;
 background-color:#cfd3d8;
}

#content #articles li span {
 overflow:hidden;
 margin:0px;
}

#content #articles li a {
 background:none;
 text-decoration:none;
} 

#content #articles ul span {
 margin-top:5px;
 height:1.3em;
 float:left; 
} 

#content #articles ul span.title {
 width:265px;
 margin-left:5px;
 font-size:11px;
 border-bottom:1px solid #000000;
} 

#content #articles ul span.submitted_domain,
#content #articles ul span.submitted_username {
 width:130px;
 border-bottom:1px solid #000000;
} 

#content #articles ul span.language {
 width:30px;
 margin-right:5px;
 text-align:right;
 border-bottom:1px solid #000000;
} 

#content #articles ul span.full {
 clear:both;
 height:auto;
 padding:5px;
 margin:0;
 width:553px;
} 

#content #articles li .approved {
 -moz-opacity:0.5;
}

#content #articles li .rejected span,
#content #articles li .approved span {
 font-weight:normal;
 border:none;
}

#content #articles li .rejected a,
#content #articles li .rejected {
 -moz-opacity:0.5;
 color:#aa0000;
 font-style:italic;
}

#content #articles li .approved:hover,
#content #articles li .rejected:hover,
#content #articles li .approved a:hover,
#content #articles li .rejected a:hover {
 -moz-opacity:1.0;
} 

/* listing */

#content #articles #container span.checkbox {
 text-align:right;
 float:right;
 width:18px;
 padding:0 2px 0 0;
 margin:0px;
} 

/* edit, new */

#content #articles #container form#new textarea.summary,
#content #articles #container form#edit textarea.summary {
 height:100px;
}

/* content.groups */


#content #groups p#top {
 border-bottom:1px solid #000000;
} 

#content #group form p,
#content #groups form p {
 clear:both;
 margin:10px 0 0 0;
 padding:0;
}

#content #group form p.error,
#content #groups form p.error {
 margin:0 0 10px 0;
} 

#content #group form#general,
#content #groups form#general {
 float:left;
 clear:both;
 width:415px;
 margin:10px 74px 0 73px;
}

#content #group #options #actions,
#content #groups #actions {
 float:left;
 width:475px;
 padding-top:5px;
 margin:10px 0;
 border-top:1px solid #dce0e5;
} 

#content #group #options #actions form#cancel,
#content #groups #actions form#cancel {
 width:auto;
}

#content #group #options #actions span,
#content #groups #actions span {
 float:left;
}

#content #groups #actions span.save,
#content #groups #actions span.submit {
 width:354px;
} 

#content #group #options #actions span.delete_group,
#content #groups #actions span.delete {
 width:56px;
} 

#content #group #options #actions span.cancel,
#content #groups #actions span.cancel {
 width:55px;
 text-align:right;
} 

#content #group #info p#link,
#content #groups p#created_link {
 text-align:center;
 font-size:12px;
 font-weight:bold;
} 

#content #groups p#created_fullname {
 font-size:12px;
 font-weight:bold;
 margin-left:20px;
}

#content #group #info p#description,
#content #groups p#created_description {
 text-align:justify;
 padding:10px 20px;
 border:1px solid #8c9095;
 background:#ecf0f5;
 -moz-border-radius:12px;
}

#content #group #buttons {
  clear:both;
}

#content #group span.leave_group,
#content #group span.join_group {
  float:right;
}

/* content.group.members */


#content #group #members ul {
 float:left; 
 text-align:center;
 width:557px;
 padding:0;
 margin:10px 0;
}

#content #group #members li {
 width:118px;
 height:150px;
 list-style-type:none;
 text-align:center;
 margin:3px 13px 3px 7px; 
 -moz-border-radius:8px;
}

#content #group #members li.even {
 background-color:#ecf0f5;
 margin:3px 13px 3px 8px; 
}

#content #group #members li.odd {
 background-color:#ecf0f5;
}

#content #group #members li.even:hover,
#content #group #members li.odd:hover {
 background-color:#cfd3d8;
}

#content #group #members li span {
 float:left;
}

#content #group #members li span {
 width:118px;
}

#content #group #members li span.fullname {
}

#content #group #members li span.icon {
 height:100px;
 clear:both;
}

#content #group #members li span.online {
 clear:both;
 width:118px;
 height:20px;
 margin-top:2px;
 text-align:center;
}

#content #group #members li span.domain {
 clear:both;
 width:118px;
 color:#9a8d9f;
}

#content #group #members .circleview {
 float:left; 
 width:487px;
 margin:10px 0;
}


/* content.group.options:sections */


#content #group #sections {
 float:left;
 width:555px;
 position:relative;
 left:-10px;
 padding-left:25px;
 text-align:center;
 background-color:#bfd3e8;
 border:1px solid #ccd0d5;
}

#content #group #sections span {
 float:left;
 padding:2px 4px;
 margin:4px;
 background:#efefff;
 border:1px solid #cccccc;
 cursor:crosshair;
}

#content #group #sections span.off {
 padding:3px 5px;
 border:none;
 background:none;
}

#content #group #sections span.on {
 padding:2px 4px 2px 4px;
 background:#efefff;
 color:#333355;
 border:1px solid #cccccc;
 border-right:1px solid #888888;
 border-bottom:1px solid #888888;
}

#content #group #sections span:hover {
 padding:2px 4px 2px 4px;
 color:#000000;
 background-color:#afc3d8;
 border:1px solid #666666;
 border-right:1px solid #000000;
 border-bottom:1px solid #000000;
}

#content #group #sections span.on:hover {
 color:#222222;
 background:#ffffff;
 border:1px solid #cccccc;
 border-right:1px solid #888888;
 border-bottom:1px solid #888888;
} 

#content #group form#options .off {
 color:#222222;
 visibility:hidden;
 overflow:hidden;
 height:0;
 margin:0; padding:0;
}

#content #group form#options .on {
 float:left;
 clear:both;
 margin:6px 0;
 height:auto;
}

#content #group form#options {
 float:left;
 width:475px;
 color:#000000;
 margin:0 40px;
}

#content #group #options #actions span.save,
#content #group #options #actions span.submit {
 width:50px;
}

#content #group #options #actions span.save_all {
 width:314px;
}

#content #group #options #titles {
 float:left;
 width:475px; 
 border-bottom:1px solid #000000;
}
 
#content #group #options #titles span {
 float:left;
}
#content #group #options #titles span.user {
 width:365px;
}

#content #group #options #titles span.action {
 width:85px;
}

#content #group #options ul {
 float:left;
 clear:both;
 margin:0;
 padding:0;
 width:415px;
}

#content #group #options li {
 float:left;
 clear:both;
 width:475px;
 list-style-type:none;
}

#content #group #options li span {
 float:left;
 text-align:left;
 margin:0 0 1px 0;
}
#content #group #options li span.user {
 width:362px;
}
#content #group #options li span.action {
 width:70px;
 text-align:right;
}

#content #group #options ul p.error,
#content #group #options ul p.message {
 left:-51px;
} 

#content #group #options p#info {
 float:left;
 margin:10px 0;
}

/* CONTEXT: content.group */ 

#content #group form#masslist #buttons_top span,
#content #group form#masslist #buttons_bottom span {
 float:left;
}

#content #group form#masslist #buttons_top span.select_none,
#content #group form#masslist #buttons_top span.select_all{
 width:200px;
}

#content #group form#masslist #buttons_top span.delete_all{
 width:362px;
 text-align:right;
}

#content #group form#masslist #buttons_bottom span.new{
 float:right;
}

#content #group form#returnback {
 float:left;
}
#content #group form#viewtype {
 float:right;
 margin:0 0 10px 0;
}

/* ENTRY DEFINITIONS */

#content #group #flat .header,
#content #group #threaded .header,
#content #group #nested .header,
#content #group #editor .header {
 width:100%;
 float:left;
 border-bottom:1px solid #afb3b8;
}

#content #group #flat .information,
#content #group #threaded .information,
#content #group #nested .information,
#content #group #editor .information {
 float:left;
 margin:10px 0 0 0;
 width:auto;
 max-width:300px;
 height:auto;
}

#content #group #editor span.check {
 float:right;
 width:auto;
 padding:10px;
}

#content #group #flat span.icon,
#content #group #threaded span.icon,
#content #group #nested span.icon,
#content #group #editor span.icon {
 float:left;
 width:auto
 position:relative;
 margin:10px 10px 5px 10px;
 border-bottom:1px solid #afb3b8;
}

#content #group #flat ul.first ul span.icon,
#content #group #threaded ul.first ul span.icon,
#content #group #nested ul.first ul span.icon,
#content #group #editor ul.first ul span.icon {
 margin-left:0;
}

#content #group #flat span.online,
#content #group #threaded span.online,
#content #group #nested span.online,
#content #group #editor span.online {
 float:left;
 clear:both;
}

#content #group #flat span.subject,
#content #group #threaded span.subject,
#content #group #nested span.subject,
#content #group #editor span.subject {
 float:left;
 clear:both;
 font-size:14px;
 font-weight:bold;
 height:auto;
}

#content #group #flat span.author,
#content #group #threaded span.author,
#content #group #nested span.author,
#content #group #editor span.author {
 float:left;
 clear:both;
}

#content #group #flat span.stamp,
#content #group #threaded span.stamp,
#content #group #nested span.stamp,
#content #group #editor span.stamp {
 float:left;
 clear:both;
}

#content #group #editor span.address {
 color:#cfb3b8;
 padding:0 4px;
 margin:0 10px;
 border:1px solid #cfb3b8;
 -moz-border-radius:6px;
}

#content #group #flat span.body,
#content #group #threaded span.body,
#content #group #nested span.body,
#content #group #editor span.body {
 float:left;
 clear:both;
 width:96%;
 text-align:justify;
 padding:2%;
}

#content #group #flat .footer,
#content #group #threaded .footer,
#content #group #nested .footer,
#content #group #editor .footer {
 float:left;
 clear:both;
 position:relative;
 width:100%;
 margin:5px 0;
 font-size:9px;
 border-bottom:1px #3c4b33 solid;
 background-color:#dfe3e8;
}
 
#content #group #flat span.group_reply,
#content #group #threaded span.group_reply,
#content #group #nested span.group_reply,
#content #group #editor span.group_reply {
 float:left;
 padding-left:5px;
 padding-right:5px;
 font-weight:bold;
 font-size:11px;
}

#content #group #threaded span.group_parent,
#content #group #nested span.group_parent,
#content #group #editor span.group_parent {
 float:left;
 padding-left:5px;
 padding-right:5px;
 font-size:11px;
 font-weight:bold;
}

#content #group #threaded span.group_thread,
#content #group #nested span.group_thread,
#content #group #editor span.group_thread {
 float:left;
 padding-left:5px;
 padding-right:5px;
 font-size:11px;
 font-weight:bold;
}

#content #group #threaded span.group_delete,
#content #group #nested span.group_delete,
#content #group #editor span.group_delete {
 float:right;
 padding-left:5px;
 padding-right:5px;
 font-size:11px;
 font-weight:bold;
}

#content #group #threaded ul,
#content #group #nested ul,
#content #group #editor ul {
 clear:both;
 list-style-type:none;
 padding:0;
 margin:0px;
 margin-left:10px;
 background-color:#cfd3d8;
 -moz-border-radius:6px;
}

#content #group #flat ul,
#content #group #flat ul.first,
#content #group #threaded ul.first,
#content #group #nested ul.first,
#content #group #editor ul.first {
 float:left;
 width:565px;
 margin:0px;
 background-color:#cfd3d8;
 -moz-border-radius:6px;
}

#content #group #flat ul li,
#content #group #threaded ul li,
#content #group #nested ul li,
#content #group #editor ul li {
 clear:both;
}

#content #group #flat ul li.deleted,
#content #group #threaded ul li.deleted,
#content #group #nested ul li.deleted,
#content #group #editor ul li.deleted {
 font-size:12px;
 font-weight:bold;
 margin:10px 0;
}


/* CONTEXT: content.group:flat */

#content #group #flat ul {
 clear:both;
 list-style-type:none;
 padding:0px;
 margin:0px;
}

/* CONTEXT: content.group:nested */

/* CONTEXT: content.group:threaded */

#content #group #threaded span.innerlink {
 float:left;
 padding:5px 0;
}

/* CONTEXT: content.group:compact */

#content #group #compact .header {
 float:left;
 width:100%;
 padding:2px;
 margin-top:3px;
 min-height:0px;
 height:14px;
 background-color:#cfd3d8;
 -moz-border-radius:6px;
}

#content #group #compact span.subject {
 float:left;
 width:69%;
 min-height:0px;
 margin:0;
 margin-left:1%;
 font-size:11px;
 font-weight:bold;
 text-align:left;
}

#content #group #compact span.byline {
 overflow:hidden;
 display:inline;
 float:left;
 width:29%;
 margin-right:1%;
 text-align:right;
}

#content #group #compact span.body {
 clear:both;
 width:auto;
 padding:3px 5px 8px 5px;
}

#content #group #compact .footer {
 font-size:9px;
 margin:4px;
 margin-top:0px;
 border-top:1px #3c4b33 solid;
 background-color:#dfe3e8;
}

#content #group #compact span.comment_reply {
 display:inline;
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#content #group #compact span.comment_parent {
 display:inline;
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#content #group #compact span.comment_thread {
 display:inline;
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#content #group #compact ul {
 clear:both;
 padding:0px;
 margin:0px;
 margin-left:12px;
}

#content #group #compact ul.first {
 clear:both;
 padding:0px;
 margin:0px;
}

/* CONTEXT: content.group.editor */

#content #group {
 float:left;
}

#content #group .parent {
 float:left;
 margin:10px;
 padding:10px;
 width:512px;
 font-style:italic; 
 border:1px solid #ecf0f5;
 background-color:#f5f9fc;
 -moz-border-radius:6px;
}

#content #group p#heading {
 width:562px;
 float:left;
 margin:5px 0; 
 text-align:left;
 font-size:12px;
 font-weight:bold;
 border-bottom:1px solid #000000;
}
#content #group p#heading a {
 font-size:10px;
 font-weight:normal;
}

#content #group #editor {
 float:left;
}

#content #group #actions,
#content #group form#reply,
#content #group #editor form#add {
 float:left;
 clear:both;
 width:440px;
 margin:10px 24px 0 23px;
 float:left;
 width:475px;
 color:#000000;
 margin:0 40px;
}

#content #group #actions {
 float:left;
 width:475px;
 padding-top:5px;
 margin:10px 0;
 border-top:1px solid #dce0e5;
}

#content #group p.error {
 width:487px;
 left:0px;
}

#content #group #editor form#add p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

#content #group #editor form#add p.error:hover {
 color:#aa0000;
} 

#content #group #actions span {
 float:left;
}

#content #group #actions span.group_submit {
 width:395px;
 text-align:left;
}

#content #group #actions span.cancel {
 width:80px;
 text-align:right;
}

#content #group span.start_topic {
 float:right;
}

/* CONTEXT: content.group:topics */

#content #group #topics #header {
 float:left;
 width:100%;
 margin-top:3px;
 background-color:#cfd3d8;
 border-bottom:1px solid #8f9398;
}

#content #group #topics #header span {
 float:left;
 font-size:11px;
 font-weight:bold;
}
#content #group #topics span {
 float:left;
}

#content #group #topics span.subject {
 margin-left:3px;
 width:247px;
}

#content #group #topics span.latest {
 width:130px;
}

#content #group #topics span.started {
 width:130px;
}

#content #group #topics span.count {
 width:52px;
}

#content #group #topics ul {
 clear:both;
 padding:0px;
 margin:0px;
}

#content #group #topics li {
 list-style-type:none;
 padding:3px 0;
 margin:0;
 height:auto;
}

#content #group #topics li:hover {
 color:#311aff;
 background-color:#cfd3d8;
} 

#content #group #topics span.start_topic {
 float:right;
 margin:10px 0;
}

