/* CONTEXT: admin */

/* (parent inheritance) */

#admin textarea {
 width:339px;
 height:200px;
}

/* titles */

#admin #caption {
 float:left;
 width:500px;
 padding-left:10px;
 padding-top:10px;
 color:#000000;
}

#admin #titles {
 float:left;
 width:100%;
 margin-top:10px;
 border-bottom:1px solid #000000;
} 

#admin #titles a {
 background:none;
} 

/* container */

#admin #container {
 float:left;
 width:487px;
 background:#fafafa;
 border:1px solid #cccccc;
 border-right:2px solid #999999;
 border-bottom:2px solid #999999;
 padding:10px;
 -moz-border-radius:12px;
 text-align:left;
}

#admin #container form {
 width:487px;
}

#admin #container form#edit,
#admin #container form#add {
 float:left;
 clear:both;
 width:339px;
 margin:0 74px 0 73px;
}

#admin #container form#edit p.error,
#admin #container form#add p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

#admin #container form#edit p.error:hover,
#admin #container form#add p.error:hover {
 color:#aa0000;
} 

#admin #container span.criteria {
 width:135px;
}

#admin #container span.searchby {
 width:100px;
}

#admin #container span.search {
 width:110px;
}

#admin #container span.show_all {
 width:80px;
}

#admin #container span.new {
 text-align:right;
 width:62px;
} 

#admin #container ul {
 float:left;
 color:#ffffff;
 padding:0px;
 margin:10px 0px 30px 0px;
 text-align:left;
} 

#admin #container li {
 clear:both;
 height:2.4em;
 overflow:hidden;
 list-style-type:none;
} 

#admin #container #titles span,
#admin #container li span {
 overflow:hidden;
 margin-right:5px;
}

#admin #container li a {
 background:none;
 text-decoration:none;
} 

#admin #container span {
 float:left; 
} 

#admin #container span.move_down {
 width:50px;
}

#admin #container span.move_up {
 width:165px;
}

#admin #container span.select_all,
#admin #container span.select_none {
 width:150px;
}

#admin #container span.delete_all {
 text-align:right;
 width:122px;
}

#admin #container li:hover,
#admin #container li:hover a {
 color:#311aff;
 float:left;
 background-color:#cfd3d8;
 list-style-type:none;
 overflow:hidden;
} 

/* edit, new */

#admin #container p {
 margin:10px 0 0 0;
 clear:both;
} 

#admin #container select {
 margin:0 0 10px 0;
}

#admin #container p#top {
 border-bottom:1px solid #000000;
} 

#admin #container p.error {
 width:508px;
 position:relative;
 left:-11px;
 color:#ffffff;
 cursor:crosshair;
 border:1px solid #a31a31;
 border-left:none;
 border-right:none;
 padding:1px 0;
 text-align:center;
 font-style:italic;
 background:#cc151a;
} 

#admin #container p.error:hover {
 color:#cabdcf;
 border-color:#a31a31;
 background:#9a151a;
 cursor:crosshair;
} 

#admin #container p.message {
 float:left;
 width:508px;
 position:relative;
 left:-11px;
 color:#ffffff;
 cursor:crosshair;
 border:1px solid #311aff;
 border-left:none;
 border-right:none;
 padding:1px 0;
 text-align:center;
 font-style:italic;
 background:#311Aff;
} 

#admin #container p.message:hover {
 color:#aaaaaa;
 background:#0106aa;
 cursor:crosshair;
} 

/* actions */

#admin #container #actions {
 float:left;
 width:339px;
 margin-top:10px;
 padding-top:5px;
 border-top:1px solid #dce0e5;
} 

#admin #container #actions span.save {
 width:220px;
} 

#admin #container #actions span.delete {
 width:64px;
} 

#admin #container #actions span.cancel {
 width:55px;
 text-align:right;
} 

/* scroll */

#admin #scroll {
 float:left;
 width:498px;
 padding:5px 5px 0 5px;
}

#admin #scroll a.selected {
 font-size:11px;
 font-weight:bold;
} 

#admin #scroll span.prev {
 float:left;
 width:85px; 
} 

#admin #scroll span.footnote {
 float:left;
 text-align:center;
 width:328px; 
} 

#admin #scroll span.next {
 float:right;
 text-align:right;
 width:85px; 
} 

/* CONTEXT: admin.stats */

#admin #stats #container {
 font:11px Arial;
 width:215px;
 background:#fafafa;
 border:1px solid #cccccc;
 border-right:2px solid #999999;
 border-bottom:2px solid #999999;
 text-align:justify;
 padding:6px;
 -moz-border-radius:12px;
}

#admin #stats #caption {
 width:220px;
 padding:0 0 0 10px;
 color:#000000;
}

/* CONTEXT: admin.switches */

/* (inherited) */

#admin #switches #container {
 text-align:center;
}

#admin #switches a {
 background:none;
}

#admin #switches #caption {
 float:left;
 width:500px;
 padding-left:10px;
 padding-top:10px;
 color:#000000;
}

/* CONTEXT: admin.tabs */

#admin #tabs { 
 float:left;
 width:510px;
 height:13px;
 margin-top:10px;
 margin-bottom:5px;
 text-align:justify;
}

#admin #tabs a {
 background:none;
} 

#admin #tabs img {
 margin-left:10px;
} 

/* CONTEXT: admin.users.accounts */
 
/* titles, listing */

#admin #users #accounts span.uid {
 width:73px;
 padding:0 0 0 2px;
} 

#admin #users #accounts span.username {
 width:160px;
} 

#admin #users #accounts span.standing {
 width:95px;
} 

#admin #users #accounts span.verified {
 width:70px;
} 

/* listing */

#admin #users #accounts #container ul span.checkbox {
 text-align:right;
 float:right;
 width:38px;
 padding:0 2px 0 0;
 margin:0px;
} 

/* CONTEXT: admin.users.questions */
 
/* titles, listing */

#admin #users #questions span.tid {
 width:28px;
 padding:0 0 0 2px;
} 

#admin #users #questions span.fullquestion {
 width:185px;
} 

#admin #users #questions span.typeof {
 width:85px;
} 

#admin #users #questions span.concern {
 width:90px;
} 

#admin #users #questions span.language {
 width:30px;
} 

/* listing */

#admin #users #questions #container ul span.checkbox {
 text-align:right;
 float:right;
 width:38px;
 padding:0 2px 0 0;
 margin:0px;
} 

/* CONTEXT: admin.users.access */

/* titles, listing */

#admin #users #access span.tid {
 width:28px;
 padding:0 0 0 2px;
} 

#admin #users #access span.userauth_uid {
 width:75px;
} 

#admin #users #access span.location {
 width:95px;
} 

#admin #users #access span.r {
 width:45px;
} 

#admin #users #access span.w {
 width:45px;
} 

#admin #users #access span.e {
 width:45px;
} 

#admin #users #access span.a {
 width:45px;
} 

#admin #users #access span.inheritance {
 width:47px;
} 

/* listing */

#admin #users #access #container span.checkbox {
 text-align:right;
 float:right;
 width:18px;
 padding:0 2px 0 0;
 margin:0px;
} 

/* CONTEXT: admin.system.strings */

/* titles, listing */

#admin #system #strings span.tid,
#admin #system #tooltips span.tid {
 width:28px;
 padding:0 0 0 2px;
} 

#admin #system #strings span.title,
#admin #system #tooltips span.title {
 width:100px;
} 

#admin #system #strings span.output,
#admin #system #tooltips span.output {
 width:190px;
} 

#admin #system #strings span.context,
#admin #system #tooltips span.context {
 width:92px;
} 

#admin #system #strings span.language,
#admin #system #tooltips span.language {
 width:30px;
} 

/* listing */

#admin #system #strings #container span.checkbox,
#admin #system #tooltips #container span.checkbox {
 text-align:right;
 float:right;
 width:18px;
 padding:0 2px 0 0;
 margin:0px;
} 

/* CONTEXT: admin.system.options */

/* titles, listing */

#admin #system #options span.tid {
 width:28px;
 padding:0 0 0 2px;
} 

#admin #system #options span.concern {
 width:132px;
} 

#admin #system #options span.label {
 width:120px;
} 

#admin #system #options span.value {
 width:105px;
} 

#admin #system #options span.chosen {
 width:55px;
} 

/* listing */

#admin #system #options #container span.checkbox {
 text-align:right;
 float:right;
 width:18px;
 padding:0 2px 0 0;
 margin:0px;
} 

/* CONTEXT: admin.system.logs */

/* titles, listing */

#admin #system #logs span.tid {
 width:28px;
 padding:0 0 0 2px;
} 

#admin #system #logs span.userauth_uid {
 width:80px;
} 

#admin #system #logs span.entry {
 width:135px;
} 

#admin #system #logs span.stamp {
 width:70px;
} 

#admin #system #logs span.severity {
 width:70px;
} 

#admin #system #logs span.location {
 width:55px;
} 

/* listing */

#admin #system #logs #container span.checkbox {
 text-align:right;
 float:right;
 width:18px;
 padding:0 2px 0 0;
 margin:0px;
} 

/* CONTEXT: admin.content.pages */

/* titles, listing */

#admin #content #pages span.tid {
 width:28px;
 padding:0 0 0 2px;
} 

#admin #content #pages span.title {
 width:100px;
} 

#admin #content #pages span.output {
 width:190px;
} 

#admin #content #pages span.location {
 width:92px;
} 

#admin #content #pages span.language {
 width:30px;
} 

/* listing */

#admin #content #pages #container span.checkbox {
 text-align:right;
 float:right;
 width:18px;
 padding:0 2px 0 0;
 margin:0px;
} 

/* CONTEXT: admin.content.articles */

/* titles, listing */

#admin #content #articles span.tid {
 width:28px;
 padding:0 0 0 2px;
} 

#admin #content #articles span.title {
 width:100px;
} 

#admin #content #articles span.full {
 width:190px;
} 

#admin #content #articles span.submitted_username {
 width:92px;
} 

#admin #content #articles span.language {
 width:30px;
} 

/* listing */

#admin #content #articles #container span.checkbox {
 text-align:right;
 float:right;
 width:18px;
 padding:0 2px 0 0;
 margin:0px;
} 

/* edit, new */

#admin #content #articles #container form#new textarea.summary,
#admin #content #articles #container form#edit textarea.summary {
 width:339px;
 height:100px;
}

