<section id="profile-friends-circles">
	
	<h1 class='friends-circles-title'></h1>
	<p id='friends-circles-message'></p>
	
	<form class="friends-circles-form" action="" method="post">
		<input type="hidden" name="Context" value="" /> 
		<input type="hidden" name="Original" value="" /> 
		<input type="hidden" name="Circle_PK" value="" /> 
		<fieldset> 
			<div>
				<label>Name Field Label</label><input name="Name" class="required" maxlength="20" /></div>
				<label>Sharing</label>
				<input type="radio" name="Sharing" id="sharing-private" value="private" /><label class="radio" for="radio3">Private Circle Label</label> 
				<input type="radio" name="Sharing" id="sharing-protected" value="protected" /><label class="radio" for="radio3">Protected Circle Label</label> 
				<input type="radio" name="Sharing" id="sharing-shared" value="shared" /><label class="radio" for="radio3">Shared Circle Label</label> 
			
			<p> 
				<input type="submit" name="Task" value="Save" /> 
				<input type="submit" name="Task" value="Cancel" /> 
			</p> 
                        
		</fieldset>
	</form>
</section>
