/*  Author: Justin Fuhrer       */
/*
    #f1ffd6 - light lima bean
    #c0d895 - lima bean
    #d9fa9e - lime
    #82b22c - dark green
    #639a00 - darker green
    #406300 - darkest green
    #bf4630 - blood red
*/

html { background: #c0d895; }

h1, h2 { color: #bf4630; }

a { color: #406300; text-decoration: none; }
a:hover { color: #639a00; text-decoration: underline; }

nav { font-weight: bold; }

header hgroup h1 { color: #406300; }
header hgroup h2 { color: #639a00; }

header hgroup h1 a { background: url('../images/asp_logo_150x66.png') no-repeat; color: #c0d895; font-size: 1px; height: 32px; display: block; }
header hgroup h1 a:hover { background: url('../images/asp_logo_150x66.png') 0px -33px no-repeat; text-decoration: none; color: #c0d895; }

time { background: url('../images/icons/date.png') 2px 2px no-repeat; padding: 4px 0px 0px 22px; min-height: 16px; display: block; }
#user_comments article time { margin-left: 70px; }

li.selected a { text-decoration: underline; color: #bf4630; }

#sys_message { background: #82b22c; color: #d9fa9e; padding: 0px 10px 5px 10px; margin-bottom: 5px; }
#sys_message {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
}
#sys_message p { text-align: center; padding: 5px 10px 0px 10px; }
#sys_message a { color: #fff; }

#page { background: #f1ffd6; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; padding: 0px 10px; min-height: 200px; }

#page form fieldset {
    background: #d9fa9e;
    border: 1px solid #82b22c;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#page form fieldset legend {
    color: #bf4630;
}

#page section h1 { font-size: 130%; border-bottom: 1px solid #c0d895; }
#page section h2 { font-size: 120%; }
#page section h3 { font-size: 110%; }

#user_journals ol li { list-style: disc; margin-left: 20px; }

#user_id h1 { display: none; }
#user_id img { max-width: 220px; }

#user_nav, #admin_controls { padding: 0px; }
#user_nav ul, #admin_controls ul { padding: 14px 20px 20px 20px; min-height: 10px; background: #d9fa9e; }
#user_nav ul, #admin_controls ul {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

#user_comments article { background: #d9fa9e; border-left: 10px solid #c0d895; padding: 10px; }
#user_comments article {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}
#user_comments .user {
    background: #fff;
    border-left: 10px solid #c0d895;
    border-top: 1px solid #c0d895;
    border-bottom: 1px solid #c0d895;
    border-right: 1px solid #c0d895;
}
#user_comments, .admin_page { padding-bottom: 0px; }
#user_comments nav ol, .admin_page nav ol { padding: 14px 20px 20px 20px; min-height: 10px; background: #d9fa9e; }
#user_comments nav ol, .admin_page nav ol {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}

#admin_menu { margin-top: 10px; }
#admin_menu nav { padding: 0px; }
#admin_menu nav ul li { float: none; }
#admin_menu nav ul li a { display: block; width: 182px; padding: 10px 10px 10px 28px; }
#admin_menu nav ul #admin_config a { background: url('../images/icons/cog.png') 5px 10px no-repeat; }
#admin_menu nav ul #admin_users a { background: url('../images/icons/group.png') 5px 10px no-repeat; }
#admin_menu nav ul #admin_content a { background: url('../images/icons/application_view_gallery.png') 5px 10px no-repeat; }
#admin_menu nav ul #admin_system a { background: url('../images/icons/database.png') 5px 10px no-repeat; }
#admin_menu nav ul #admin_control a { background: url('../images/icons/lock.png') 5px 10px no-repeat; }

#admin_menu nav ul #admin_config a:hover { background: #d9fa9e url('../images/icons/cog.png') 5px 10px no-repeat; text-decoration: none; }
#admin_menu nav ul #admin_users a:hover { background: #d9fa9e url('../images/icons/group.png') 5px 10px no-repeat; text-decoration: none; }
#admin_menu nav ul #admin_content a:hover { background: #d9fa9e url('../images/icons/application_view_gallery.png') 5px 10px no-repeat; text-decoration: none; }
#admin_menu nav ul #admin_system a:hover { background: #d9fa9e url('../images/icons/database.png') 5px 10px no-repeat; text-decoration: none; }
#admin_menu nav ul #admin_control a:hover { background: #d9fa9e url('../images/icons/lock.png') 5px 10px no-repeat; text-decoration: none; }

#admin_menu nav ul #admin_config.selected a { background: #d9fa9e url('../images/icons/cog.png') 5px 10px no-repeat; text-decoration: none; }
#admin_menu nav ul #admin_users.selected a { background: #d9fa9e url('../images/icons/group.png') 5px 10px no-repeat; text-decoration: none; }
#admin_menu nav ul #admin_content.selected a { background: #d9fa9e url('../images/icons/application_view_gallery.png') 5px 10px no-repeat; text-decoration: none; }
#admin_menu nav ul #admin_system.selected a { background: #d9fa9e url('../images/icons/database.png') 5px 10px no-repeat; text-decoration: none; }
#admin_menu nav ul #admin_control.selected a { background: #d9fa9e url('../images/icons/lock.png') 5px 10px no-repeat; text-decoration: none; }

.admin_page table th { background: #c0d895; }
.admin_page table tr.odd td { background: #fff; }

table tr.odd td { background: #f1ffd6; }

footer { padding-bottom: 40px; }
footer h1 { font-size: 110%; border-bottom: 1px solid #639a00; }
footer nav li, footer section li { margin: 0px 0px 0px 20px; list-style: disc; }

/* -- */




.admin_page table { width:100%; clear:both; }

p.message { width:96%; clear:both; padding:3px 2%; margin:2px 0; background-color:#639a00; color:#f1ffd6; }

p.error { width:96%; clear:both; padding:3px 2%; margin:2px 0; background-color:#639a00; background-color:#bf4630; color:#f1ffd6; }

#systemstatus { width:100%; background: #f1ffd6; text-align:center; padding:5px 0px; margin:0 0 10px 0; border-radius: 0 0 20px 20px; -moz-border-radius: 0 0 20px 20px; -webkit-border-radius: 0 0 20px 20px; }
#debug { width:920px; clear:both; float:left; background: #f1ffd6; padding:20px; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; }

#debug ul li { list-style:none; }

#debug .even { width:100%; float:left; clear:both; background:#eaffea; }
#debug .odd { width:100%; float:left; clear:both; background:#daffda; }

#debug .count { float:left; width:40px; }
#debug .string { float:left; width:740px;}
#debug .type { float:left; width:100px; }
#debug .line { float:left; width:40px; }
#debug .file { float:left; clear:both; width:100%; color:#999999; }

button[disabled] {
		display:none;
}

.scroll ol { list-style-type:none; }
.scroll ol li { float:left; padding:0px 5px; }

.admin_page nav button, .scroll button { background:none; border:none; font-weight:bold; color:#406300; padding:0; }
.scroll li.selected button { text-decoration: underline; color: #bf4630; }
.scroll button:hover { cursor:pointer; }

.search {width:100%; text-align:right; float:right; clear:both; }

label { margin-top:10px; clear:both; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
select, input, textarea { clear:both; }

textarea { min-width:500px; min-height:160px; }

#user_page ul li { list-style: none; }

.new { font-weight:bold; }

.mark_inbox { font-weight:bold; padding:0 2px; color:#639a00; border:1px dotted #82b22c }
.mark_labels { font-weight:bold; padding:0 2px; color:#639a00; border:1px dotted #639a00 }

section#latest_nodes table tbody td { text-align:left }
section#latest_nodes table tbody td p { margin:0; padding:0; }
section#latest_nodes table tbody td p.users { font-weight:bold; }
section#latest_nodes table tbody td p.summary { font-size:85%; font-style:italic; }
section#latest_nodes table tbody td p.url { border-bottom:1px solid #c0d895; }


section#site_articles ol { list-style-type:none; }

section#site_articles article { float:left; clear:both; width:100%; padding:0; margin:0; padding-bottom:2px; margin-bottom:10px; border-bottom:1px solid; }
section#site_articles article a img.icon_img { float:left; min-width:100px; min-height:100px; margin:0; margin-right:10px; }
section#site_articles article p { float:left; margin:0px 0px 10px 0; }
section#site_articles article div.readmore { clear:both; width:100%; margin:0px 10px 10px 0; }
section#site_articles article div.readmore a { float:right; margin-right:10px; }

span.untranslated { margin:0; padding:0px 4px; color:#2a2afa; background-color:#cacafa;}
span.untranslatedp { margin:0 0 0 0; padding:0px 4px; color:#2a2afa; background-color:#facaca;}

span.mistranslated { margin:0; padding:0px 4px; color:#2a2afa; background-color:#ff4444; font-style:italic; }
span.mistranslatedp { margin:0 0 0 0; padding:0px 4px; color:#2a2afa; background-color:#facaca; font-style:italic; }
