
		/*
			#406300 - dark green
			#80af1f - green
			#c0d895 - light green
			
			#f1ffd6 - light lima bean
			
			#bf4630 - blood red
			
			#2a2a2a - black
			#8a8a8a - grey
			#fafafa - white
		*/
	
		/* Global */
		
		* { margin:0; padding:0; }
		p { margin:0; padding:0; }
		li { margin:0; padding:0; }
		img { margin:0; padding:0; }
		
		html { background: #c0d895; }
		
		a { text-decoration:none; background:none no-repeat left center; }
		
		a { color:#406300; padding-left:8px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position: -120px -45px; }
		a:hover { text-decoration:underline; cursor:pointer; }
		
		div { text-align:left; }
		
		section { font-size:90%; }
		section h1 { color:#bf4630; font-size:120%; border-bottom:1px solid #406300; }
		
		section p { clear:both; margin-top:10px; }
		
		/* Pagination */
		
		nav.pagination ol { float:right; clear:both; margin-top:10px; }
		nav.pagination ol li { list-style-type:none; float:left; }
		nav.pagination ol li span { border:none; background:none; font-size:80%; font-weight:bold; color:#406300; margin:0 1px; padding:0 1px; }
		nav.pagination ol li.disabled span { display:none; } 
		nav.pagination ol li a { border:none; background:none; padding:0; font-weight:bold; color:#406300; }
		nav.pagination ol li a:hover { text-decoration:none; }
		nav.pagination ol li a:hover span { background-color:#406300; color:#fafafa; cursor:pointer; }
		nav.pagination ol li.selected a { border-bottom:2px solid #406300; }
		nav.pagination ol li.first,  nav.pagination ol li.prev,  nav.pagination ol li.next,  nav.pagination ol li.last { margin:0 2px; }
		
		.additional-info { margin-left:10px; color:#8a8a8a; font-style:italic; font-weight:normal; font-size:80%; }
		
		/* Forms */
		form { width:100%; }
		fieldset { margin:1em 0;border:none;border-top:1px solid #ccc;}
		fieldset { margin-top:5px; padding:5px 10px;border:1px solid #c0d895;}
		legend { margin:1em 0;padding:0 .5em;color:#036;background:transparent;font-size:1.3em;font-weight:bold;}
		label { float:left;width:35%; margin:6px 5% 5px 5px; font-size:90%; padding:0; clear:both; text-align:right; }
		label.error { float:left; width:auto; margin:5px 0; margin-left:41%; color:#bf4630; font-style:italic; font-size:90%; padding:0; clear:both; text-align:right; }
		fieldset div select { padding:1px;}
		textarea,input,select {  float:left; font-size:100%; width:200px; margin:4px 0 5px 0; color:#2a2a2a; }
		input[type="submit"], input[type="cancel"], input[type="reset"], input[type="button"]  {  width:auto; margin:0 5px 0 0; }
		label em { color:#bf4630; }
		input:disabled { color:#3a3a3a; }
		
		button { padding:1px 5px; font-size:100%; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4); -webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4); color:rgba(0,0,0,0.9); text-shadow:1px 1px 0px rgba(255,255,255,0.8); border:1px solid rgba(0,0,0,0.5); 	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1))); background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1)); }
		button:hover { cursor:pointer; }
		button:active, button:focus { background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1))); background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1)); }
		button:disabled { color:rgba(0,0,0,0.4); text-shadow:1px 1px 0px rgba(255,255,255,0.5); background:rgba(220,220,220,1); }
		
		input[type="checkbox"], input[type="radio"] { clear:none; display:inline; margin:5px 0; width:auto; float:left; text-align:right; }
		label.radio, label.checkbox { float:left; clear:none; display:inline; width:auto; margin:5px 15px 5px 5px; }
		
		/* Tables */
		table { float:left; font-size:90%; padding:0; margin:0; }
		table a { background:none; padding:0; }
		table td { background:none; padding:5px 0; }
		table th a { color:#fafafa; }
		th { color:#fafafa; letter-spacing: 2px; text-align:left; padding: 6px 0px 6px 12px;  background-color:#80af1f; }
		th.nobg { color:#406300; background:#f1ffd6; } 
		th.nobg a { color:#406300; } 
		td { padding: 6px 6px 6px 12px; color:#2a2a2a; }
		th.spec { color:#fafafa; }
		tr { padding:5px 0; background:#f1ffd6; }
		tr.even { background:#c0d895; }
		table tr td input[type="checkbox"] { float:left; margin-left:12px; text-align:right; }
		tr:hover { background-color:#fafafa; }
		
		/* Search */
		input.search { width:232px; height:18px; margin:0; float:none; padding:2px 4px; border:none; background-color:#fafafa; }
		input.search-submit { padding:0; margin:0; width:22px; float:none; height:22px; border:none; color:#fafafa; background-color:#fafafa; background-image:url('/themes/default/images/appleseed-icons.png'); background-position:2px -46px; }
		
		input.search.local { font-size:80%; width:129px; height:16px; padding:2px 4px; border:1px solid #80af1f; border-right:none; background-color:#fafafa; }
		input.search-submit.local { width:22px; height:22px; border:1px solid #80af1f; border-left:none; color:#fafafa; background-color:#fafafa; background-image:url('/themes/default/images/appleseed-icons.png'); background-position:2px -46px; }
		
		input.search {  -webkit-border-bottom-left-radius:4px; -webkit-border-top-left-radius:4px;  -moz-border-radius-bottomleft:4px; -moz-border-radius-topleft:4px; -border-bottom-left-radius:4px; -border-top-left-radius:4px;  }
		input.search-submit {  -webkit-border-bottom-right-radius:4px; -webkit-border-top-right-radius:4px;  -moz-border-radius-bottomright:4px; -moz-border-radius-topright:4px;  -border-bottom-right-radius:4px; -border-top-right-radius:4px;  }
		
		/* Comments */
		ol.comments.outer { font-size:110%; }
		ol.comments { float:left; clear:both; width:100%; list-style-type:none; margin:0; }
		ol.comments li { clear: left; }
		ol.comments li div.comment { float:left; clear:both; background:#c0d895; border-top:1px solid #80af1f; margin-bottom:1px; } 
		ol.outer li div.comment { border:none; } 
		ol.comments li div.comment-icon { float:left; display:inline; clear:none; width:32px; padding:5px 5px 0 5px; }
		ol.comments li div.comment-icon a { background:none; padding:0; }
		ol.comments li div.comment-icon img { width:32px; height:32px; padding:0; margin:0; }
		
		ol.comments li div.comment-content { float:right; clear:none; display:inline; width:658px; margin:5px 0 0 0; padding:0; vertical-align:top; }
		
		ol.comments li div.comment-content p { float:left; width:100%; margin:0 0 5px 0; padding:0; }
		ol.comments li div.comment-content a { background:none; padding:0; font-weight:bold; margin-right:5px; }
		ol.comments li div.comment-content abbr { float:left; clear:none; font-size:80%; color:#8a8a8a; font-style:italic; border:none; cursor:auto; }
		ol.comments li div.comment-content nav { font-size:80%; float:right; margin:0; padding:0; clear:none; }
		ol.comments li div.comment-content nav ul li { float:left; display:inline; border:none; width:auto; padding:0; margin-right:10px; clear:none; }
		ol.comments li div.comment-content nav ul li a { font-weight:normal; }
		
		ol.comments ol.nested { margin: 0px 0px 0px 20px; clear: left; }
		ol.comments ol.nested ol.nested ol.nested ol.nested ol.nested ol.nested ol.nested ol.nested ol.nested ol.nested ol.nested { margin: 0px 0px 0px 0px; clear:left; }
		
		ol.comments li ol.nested li div.comment-content { width:638px; }
		ol.comments li ol.nested li ol.nested li div.comment-content { width:618px; }
		ol.comments li ol.nested li ol.nested li ol.nested li div.comment-content { width:598px; }
		ol.comments li ol.nested li ol.nested li ol.nested li ol.nested li div.comment-content { width:578px; }
		ol.comments li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li div.comment-content { width:558px; }
		ol.comments li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li div.comment-content { width:538px; }
		ol.comments li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li div.comment-content { width:518px; }
		ol.comments li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li div.comment-content { width:498px; }
		ol.comments li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li div.comment-content { width:478px; }
		ol.comments li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li ol.nested li div.comment-content { width:458px; }
		
		/* Translation Debugging */
		span.untranslated { margin:0; padding:0px 4px; color:#2a2afa; background-color:#cacafa;}
		span.untranslatedp { margin:0 0 0 0; padding:0px 4px; color:#2a2afa; background-color:#facaca;}

		span.mistranslated { margin:0; padding:0px 4px; color:#2a2afa; background-color:#ff4444; font-style:italic; }
		span.mistranslatedp { margin:0 0 0 0; padding:0px 4px; color:#2a2afa; background-color:#facaca; font-style:italic; }
		
		/* Nav Buttons */
		nav button{ color:#406300; border:none; background:none; font-weight:bold; }
		nav button, nav button:hover { -webkit-box-shadow:none; color:#406300; }
		nav button:hover { text-decoration:underline; cursor:pointer; }
		nav button:disabled{ color:#c0d895; border:none; background:none; font-weight:bold; }
		nav button:disabled:hover{ cursor:default; text-decoration:none; }
		
		p.error { padding:5px 2%; width:96%; background-color:#bf4630; color:#fafafa; }
		p.message { padding:5px 2%; width:96%; background-color:#80af1f; color:#fafafa; }
		/* appleseed-logo */
		#appleseed-logo { position:absolute; margin:5px 0 0 10px; width:150px; height:32px; background: url('/themes/default/images/appleseed-logo.png') no-repeat; display:block; }
		#appleseed-logo:hover { background: url('/themes/default/images/appleseed-logo.png') 0px -33px no-repeat; display:block; }
		
		
		/* System Messages */
		#system-message { width:100%; height:32px; text-align:center; color:#d9fa9e; border-top:1px solid #2a2a2a; border-bottom:1px solid #2a2a2a; background-color:#406300; overflow:hidden; }
		
		#system-message p { margin-top:6px; font-size:100%; }
		
		#system-message a { color:#f1fed5; padding-left:8px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position: -120px -94px; }
		#system-message a:hover { text-decoration:underline; }
		
		/* JQuery : UI : Date Picker */
		.ui-datepicker { margin-left:10px; border:1px solid #406300; width:220px; }
		.ui-datepicker { -moz-box-shadow: 5px 5px 5px #8a8a8a; box-shadow: 5px 5px 5px #8a8a8a; -webkit-box-shadow: 5px 5px 5px #8a8a8a; }
		.ui-datepicker .ui-datepicker-header { float:left; width:100%; color:#fafafa; background-color:#80af1f; padding-top:2px; clear:both; }
		.ui-datepicker .ui-datepicker-title { float:left; width:100%; text-align:center; font-weight:bold; }
		.ui-datepicker a.ui-datepicker-prev { color:#fafafa; width:49%; margin-left:1%; font-size:90%; float:left; text-align:left; padding:0; background:none; }
		.ui-datepicker a.ui-datepicker-next { color:#fafafa; width:49%; margin-right:1%; font-size:90%; float:left; text-align:right; padding:0; background:none; }
		.ui-datepicker a:hover { background-color:#80af1f; text-decoration:none; }
		
		
		/* Header,Footer */
		footer#appleseed-footer, header#appleseed-header { width:100%; height:46px; padding:0; margin:0; text-align:center; color:#d9fa9e; border-top:1px solid #406300; border-bottom:1px solid #406300; background-color:#80af1f; }
		
		/* Footer */
		footer#appleseed-footer, header#appleseed-header { width:100%; height:46px; text-align:center; color:#d9fa9e; border-top:1px solid #406300; border-bottom:1px solid #406300; background-color:#80af1f; }
		footer#appleseed-footer { color:#c0d895; }
		footer#appleseed-footer a { color:#f1fed5; padding-left:8px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position: -120px -93px; }
		footer#appleseed-footer a:hover { color:#406300; padding-left:8px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position: -120px -43px; }
		footer#appleseed-footer p { margin:3px 0; }
		
		/* Header */
		#appleseed-header a { color:#406300; text-decoration:none; }
		#appleseed-header a:hover { color:#406300; text-decoration:underline; }
		
		#header-search { margin-top:14px; }
		
		#header-notifications { margin-top:14px; }
		#header-notifications a { float:left; height:16px; width:24px; overflow:visible; padding:0 0 12px 0; background:none; }
		#header-notifications a:hover { text-decoration:none; }
		#header-notifications span { float:left; }
		
		#header-notifications span.new-friend { width:16px; height:16px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position:-24px -48px; }
		#header-notifications span.new-mail { margin-left:0; width:16px; height:16px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position:2px -71px; }
		#header-notifications span.new-notification { width:16px; height:16px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position:-48px -48px; }
		#header-notifications span.new-approval { width:16px; height:16px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position:-24px -74px; }
		
		#header-notifications span.new-friend:hover, #header-notifications span.new-friend.notify { width:16px; height:16px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position:-24px -96px; }
		#header-notifications span.new-mail:hover, #header-notifications span.new-mail.notify { width:16px; height:16px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position:2px -119px; }
		#header-notifications span.new-notification:hover, #header-notifications span.new-notification.notify { width:16px; height:16px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position:-48px -96px; }
		#header-notifications span.new-approval:hover, #header-notifications span.new-approval.notify { width:16px; height:16px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position:-24px -122px; }
		
		#header-notifications span.new-friend-count { clear:both; position:relative; left:6px; top:-6px; margin-right:2px; padding:1px 4px; color:#fafafa; background-color:#bf4630; font-size:80%; }
		#header-notifications span.new-mail-count { clear:both; position:relative; left:6px; top:-6px; margin-right:2px; padding:1px 4px; color:#fafafa; background-color:#bf4630; font-size:80%; }
		#header-notifications span.new-approval-count { clear:both; position:relative; left:6px; top:-6px; margin-right:2px; padding:1px 4px; color:#fafafa; background-color:#bf4630; font-size:80%; }
		#header-notifications span.new-notification-count { clear:both; position:relative; left:6px; top:-6px; margin-right:2px; padding:1px 4px; color:#fafafa; background-color:#bf4630; font-size:80%; }
		
		#header-notifications span.new-friend-count.none { display:none; }
		#header-notifications span.new-mail-count.none { display:none }
		#header-notifications span.new-approval-count.none { display:none }
		#header-notifications span.new-notification-count.none { display:none }
		
		#header-notifications span.new-friend-count { -webkit-border-radius:6px; -moz-border-radius:6px; -border-radius:6px;  }
		#header-notifications span.new-mail-count { -webkit-border-radius:6px; -moz-border-radius:6px; -border-radius:6px;  }
		#header-notifications span.new-approval-count { -webkit-border-radius:6px; -moz-border-radius:6px; -border-radius:6px;  }
		#header-notifications span.new-notification-count { -webkit-border-radius:6px; -moz-border-radius:6px; -border-radius:6px;  }
		
		#header-current { text-align:right; }
		#header-current img.current-icon { float:left; position:relative; left:-8px; height:24px; width:24px; margin-top:14px; }
		#header-current img.no-profile { visibility:hidden; }
		
		#header-current span { float:left; }
		#header-current span.current-remote { width:16px; height:16px; position:relative; top:2px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position:-72px -48px; }
		#header-current span.current-local { width:16px; height:16px; position:relative; top:2px; background-position:-72px -48px; }
		#header-current span.current-identity { margin-top:16px; max-width:300px; overflow:hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
		#header-current span.current-identity:hover { overflow:visible;text-overflow:none; -o-text-overflow:none; }
		#header-current span.current-identity a { padding:2px 2px; background:none; font-size:80%; font-weight:bold; }
		
		#header-links { text-align:right; margin-top:16px; }
		#header-links a { padding:2px 0px 0px 4px; background:none; font-size:85%;}
		
		/* Main */
		#appleseed-profile { float:left; background-color:#f1fed5; min-height:840px; }
		#appleseed-profile-menu { height:80px; padding-top:40px; background-color:#c0d895; border-bottom:1px solid #80af1f; }
		
		#appleseed-profile-info { float:left; position:relative; top:-100px;  }
		
		/* profile-info */
		#profile-photo { min-height:112px; }
		#profile-photo img { max-width:220px; margin-top:20px; border-bottom:1px solid #80af1f; }
		#profile-photo-focus.no-profile { visibility:hidden; }
		
		/* profile-summary */
		#summary-information h2, p { font-size:90%; }
		#summary-information h2 { margin-top:10px; }
		#summary-information p { margin:0;}
		#summary-information p, #summary-information h2 { margin-left:10px; }
		#summary-information ul{ list-style-type:none; }
		
		/* profile-status */
		#status-container { margin-top:40px; height:49px; max-height:150px; overflow:hidden; }
		#status-container .name { font-size:120%; font-weight:bold; }
		#status-container .current { font-size:90%; font-weight:bold; color:#5a5a5a; margin-left:5px;  }
		#status-container .stamp { font-size:70%; color:#8a8a8a; font-style:italic; border:none; cursor:auto; }
		#status-container form { width:auto; display:inline; clear:none; padding:0; margin:0; }
		
		/* profile-tabs */
		#profile-tabs { float:left; position:relative; }
		#profile-tabs a { padding:0; background:none; color:#406300; }
		#profile-tabs ul li { float:left; padding:4px 4px 0 4px; margin:0px 1px; background-color:#80af1f; border:1px solid #406300; }
		#profile-tabs ul li a { color:#c0d895; }
		#profile-tabs ul li:nth-child(1)   { margin-left:1px; }
		#profile-tabs ul li.selected { background-color:#f1fed5; border-bottom:1px solid #f1fed5; }
		#profile-tabs ul li.selected a { color:#2a2a2a; }
		#profile-tabs ul li:hover { background-color:#f1fed5; border-bottom:1px solid #f1fed5; }
		#profile-tabs ul li:hover a { color:#2a2a2a; }
		#profile-tabs ul li a:hover { text-decoration:none; }
		#profile-tabs ul li.more { font-weight:bold; }
		
		/* profile-search */
		#profile-search { float:left; position:relative; top:8px; text-align:right; }
		
		/* profile-contact */
		#profile-contact ul li { font-size:90%; list-style-type:none; margin:5px 0 5px 10px; padding:2px; }
		#profile-contact ul li button { text-decoration:none; border:none; background:none no-repeat left center; }
		#profile-contact ul li button { color:#406300; padding-left:8px; background-image:url('/themes/default/images/appleseed-icons.png'); background-position: -120px -43px; }
		#profile-contact ul li button:hover { text-decoration:underline; cursor:pointer; }
		
		/* profile-mutual */
		#profile-mutual #friends-mutual-summary ul li { list-style-type:none; }
		#profile-mutual #friends-mutual-summary ul li img { float:left; width:32px; height:32px; margin:5px 5px 0 0; }
		#profile-mutual #friends-mutual-summary a.all-mutual-friends-link { float:right; clear:both;}
		
		/* user-invites */
		#user-invites { float:left; width:100%; padding:0; margin:0; margin-bottom:10px; }
		#user-invites .invite-count em { padding:0 2px; font-style:normal; font-weight:bold; font-size:130%; color:#bf4630; }
		#user-invites .invite-count { padding-bottom:5px; }
		#user-invites .email { float:left; padding:1px 3px; width:160px; }
		#user-invites .invite { float:right; margin-top:4px; }
		#user-invites .invite-count a { float:none; display:inline;  clear:none; background:none; padding-left:0; }
		
		/* profile-friends */
		#profile-friends h1 { float:left; width:100%; clear:both; margin-top:10px; }
		#profile-friends ul { float:left; border-bottom:1px solid #c0d895; padding-bottom:10px; margin-bottom:10px; }
		#profile-friends ul li { float:left; clear:both; list-style-type:none; }
		#profile-friends ul li img.friends-icon { float:left; clear:none; width:64px; height:64px; margin:10px 5px 0 0; border-bottom:1px solid #406300; }
		
		#profile-friends nav.pagination { float:right; position:relative; top:-18px; clear:none; padding:0; margin:0; }
		#profile-friends nav.pagination ol { float:left; clear:none; padding:0; margin:0; }
		
		#profile-friends div.friends-info { float:left; width:630px; margin-top:10px; }
		#profile-friends span { font-size:90%; }
		#profile-friends span.friends-fullname { float:left; margin-top:0px; width:40%; font-weight:bold; }
		#profile-friends span.friends-fullname a { padding:0; background:none; color:#2a2a2a; }
		#profile-friends span.friends-fullname a:hover { text-decoration:none; }
		#profile-friends span.friends-location { float:right; width:auto; width:20%; overflow:hidden; height:14px; text-align:right; font-weight:bold; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
		#profile-friends p.friends-status { float:left; margin:0; padding:0; width:80%; min-height:41px; font-style:italic; color:#8a8a8a; }
		#profile-friends span.friends-mutual-count { float:right; text-align:right; font-style:italic; color:#8a8a8a; }
		#profile-friends a.friends-identity { float:left; padding:0; background:none; font-size:90%; width:80%; clear:both; }
		
		#profile-friends .friends-approve-friend a, #profile-friends .friends-deny-friend a { text-align:right; float:right; margin-left:5px; }

		#profile-friends .friends-add-friend a, #profile-friends .friends-remove-friend a { text-align:right; float:right; }
		
		#profile-friends .friends-circle-editor { float:left; width:40%; text-align:right; height:12px; }
		#profile-friends .friends-circle-editor select { float:none; font-size:90%; width:auto; margin:0; clear:none; }
		
		#profile-friends .friend-circle-edit-save { height:13px; padding:0 2px; }
		
		.profile-friends-circle-add { text-align:right; min-height:13px; margin-top:7px; float:right; width:15%; clear:none; border-bottom:1px solid #c0d895; }
		.profile-friends-circle-add a { padding:0; background:none; }
		.profile-friends-circle-add-friend { text-align:left; min-height:13px; float:left; width:50%; clear:both; padding:0; }
		.profile-friends-circle-remove { text-align:right; min-height:13px; float:left; width:50%; padding:0; }
		.profile-friends-circle-remove a { font-weight:normal; padding:0; background:none; }
		.profile-friends-circle-edit a { margin-left:5px; font-size:90%; font-weight:normal; padding:0; background:none; }
		
		#profile-friends-tabs { position:relative; float:left; display:inline; width:85%; margin-bottom:5px; border-bottom:1px solid #c0d895; padding-top:3px; }
		#profile-friends-tabs a { padding:0; background:none; color:#406300; }
		#profile-friends-tabs ul { float:left; position:relative; top:1px; width:100%; margin:0; padding:0; border:none; }
		#profile-friends-tabs ul li { float:left; clear:none; height:15px; padding:1px 4px 0 4px; margin:0px 1px; font-style:italic; background-color:#c0d895; border:1px solid #c0d895;  border-bottom:none; }
		#profile-friends-tabs ul li a { color:#406300; }
		#profile-friends-tabs ul li:nth-child(1)   { margin-left:1px; }
		#profile-friends-tabs ul li.system { font-style:normal; }
		#profile-friends-tabs ul li.selected { background-color:#f1ffd6; }
		#profile-friends-tabs ul li.selected a { color:#2a2a2a; }
		#profile-friends-tabs ul li:hover { background-color:#f1ffd6; }
		#profile-friends-tabs ul li:hover a { color:#2a2a2a; }
		#profile-friends-tabs ul li a:hover { text-decoration:none; }
		#profile-friends-tabs ul li.more { font-weight:bold; }
		
		/* profile-comments */
		#profile-comments { float:left; position:relative; top:-24px; }
		#profile-comments-two { float:left; position:relative; top:-24px; }
		
		/* profile-page */
		#profile-page .post { float:left; width:98%; padding:1%; margin-bottom:20px; border:1px solid #c0d895; }
		#profile-page .post .content { width:590px; height:14px; padding:5px; }
		#profile-page .post .content:focus { width:590px; height:28px; padding:5px; }
		#profile-page .post .submit { float:right; }
		
		#profile-page .list .item { float:left; clear:both; font-size:110%; list-style-type:none; border-bottom:1px solid #c0d895; padding-bottom:5px; margin-bottom:5px; width:100%; }
		#profile-page .list a { float:left; background:none; padding:0; display:inline; }
		#profile-page .list .item .owner-icon-link { float:left; display:inline; }
		#profile-page .list .item .owner-icon { width:64px; height:64px; }
		#profile-page .list .item .info { float:left; width:78%; padding:0; margin:0 5px; }
		#profile-page .list .item .content-full { float:left; display:inline; clear:none; width:100%; padding:0; margin:0; min-height:46px; }
		#profile-page .list .item .owner-link { margin-right:5px; font-weight:bold; }
		#profile-page .list .item .remove { float:right; display:inline; clear:none; width:auto; padding:0; margin:0; opacity:0.6;}
		#profile-page .list .item .remove:hover { float:right; display:inline; clear:none; width:auto; padding:0; margin:0; opacity:1;}
		#profile-page .stamp { float:left; color:#8a8a8a; font-style:italic; border:none; margin-top:6px; margin-right:5px; cursor:auto; text-align:left; font-size:90%; }
		#profile-page .actions { float:left; clear:none; margin-top:6px; font-size:90%; }
		#profile-page .actions a { float:left; padding-right:5px; }
		#profile-page .actions a:before { content:"\B7 \ "; }
		
		#profile-page .privacy { clear:both; float:left; padding:0; padding-top:2px; margin:0; }
		#profile-page .privacy h2 { clear:both; float:left; margin-right:10px; color:#bf4630; }
		#profile-page .privacy ul { list-style-type:none; clear:none; float:left; }
		#profile-page .privacy ul li { clear:none; float:left; margin-right:10px; }
		#profile-page .privacy label { clear:none; float:left; font-size:100%; margin:0; padding:0; width:auto; }
		#profile-page .privacy .everybody { font-style:italic; }
		#profile-page .privacy .nobody { font-style:italic; }
		#profile-page .privacy .friends { font-style:italic; }
		#profile-page .privacy input[type="checkbox"] { margin-top:1px; margin-right:5px; }
		
		/* 404 */
		#appleseed-404 { float:left; background-color:#f1fed5; min-height:840px; }
		#appleseed-404-menu { height:80px; background-color:#c0d895; border-bottom:1px solid #80af1f; }
		
		#appleseed-404-info { float:left; }
		
		/* Login */
		#appleseed-frontpage { float:left; background-color:#f1fed5; min-height:840px; }
		#appleseed-frontpage-menu { height:80px; background-color:#c0d895; border-bottom:1px solid #80af1f; }
		
		#appleseed-frontpage-info { float:left; }
		
		#appleseed-frontpage-info #login-local fieldset { width:198px; }
		#appleseed-frontpage-info #login-local input { width:95px; margin-left:10px; }
		#appleseed-frontpage-info #login-local label { width:75px; padding:0; }
		
		#appleseed-frontpage-info #login-remote fieldset { width:198px; }
		#appleseed-frontpage-info #login-remote input { width:95px; margin-left:10px; }
		#appleseed-frontpage-info #login-remote label { width:75px; padding:0; }
		
		/* Login */
		#appleseed-login { float:left; background-color:#f1fed5; min-height:840px; }
		#appleseed-login-menu { height:80px; background-color:#c0d895; border-bottom:1px solid #80af1f; }
		
		#appleseed-login-info { float:left; }
		
		/* logout */
		p#logout-redirect-link { float:left; width:100%; text-align:center; padding:10px 0; }
		
		/* login-tabs */
		nav#login-tabs { float:left; position:relative; top:49px; }
		nav#login-tabs a { padding:0; background:none; color:#406300; }
		nav#login-tabs ul li { float:left; padding:4px 4px 0 4px; margin:0px 1px; background-color:#80af1f; border:1px solid #406300; }
		nav#login-tabs ul li a { color:#c0d895; }
		nav#login-tabs ul li:nth-child(1)   { margin-left:1px; }
		nav#login-tabs ul li.ui-tabs-selected { background-color:#f1fed5; border-bottom:1px solid #f1fed5; }
		nav#login-tabs ul li.ui-tabs-selected a { color:#2a2a2a; }
		nav#login-tabs ul li:hover { background-color:#f1fed5; border-bottom:1px solid #f1fed5; }
		nav#login-tabs ul li:hover a { color:#2a2a2a; }
		nav#login-tabs ul li a:hover { text-decoration:none; }
		
		/* appleseed-donate */
		#appleseed-donate input, #appleseed-donate select { width:auto; margin-right:5px; }
		#appleseed-indiegogo h2 { padding-top:10px; }
		
		/* articles-tabs */
		nav#articles-tabs { float:left; position:relative; top:49px; }
		nav#articles-tabs a { padding:0; background:none; color:#406300; }
		nav#articles-tabs ul li { float:left; padding:4px 4px 0 4px; margin:0px 1px; background-color:#80af1f; border:1px solid #406300; }
		nav#articles-tabs ul li a { color:#c0d895; }
		nav#articles-tabs ul li:nth-child(1)   { margin-left:1px; }
		nav#articles-tabs ul li.selected { background-color:#f1fed5; border-bottom:1px solid #f1fed5; }
		nav#articles-tabs ul li.selected a { color:#2a2a2a; }
		nav#articles-tabs ul li:hover { background-color:#f1fed5; border-bottom:1px solid #f1fed5; }
		nav#articles-tabs ul li:hover a { color:#2a2a2a; }
		nav#articles-tabs ul li a:hover { text-decoration:none; }
		
		/* frontpage-content */
		#frontpage-content { float:left; margin-bottom:10px; }
		#frontpage-content nav.pagination { float:right; position:relative; clear:none; padding:0; margin:0; }
		#frontpage-content nav.pagination ol { float:left; clear:none; padding:0; margin:0; }
		
		/* articles */
		.article-list .summary { margin:10px 0; list-style-type:none; float:left; clear:both; width:100%; }
		.article-list .summary img { float:left; margin: 0px 5px 5px 0; }
		.article-list .icon { width:64px; height:64px; }
		.article-list .summary h2 { font-size:110%; color:#2a2a2a; }
		.article-list .summary h3 { font-weight:normal; color:#2a2a2a; }
		.article-list .summary p { font-size:100%; margin:0; padding:0; }
		
		.article-list img { max-width:680px; }
		.article-list .summary a { padding:0; background:none; }
		.article-list .stamp { font-size:90%; }
		.article-list .summary .content { float:left; clear:both; width:96%; background-color:#c0d895; border-radius:10px; padding:2%; -moz-box-shadow:0px 0px 3px rgba(0,0,0,0.8); -webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.8); }
		
		.article-list .readmore { float:left; text-align:right; margin-bottom:10px; border-bottom:1px solid #2a2a2a; width:100%; }
		
		/* appleseed-debug */
		#appleseed-debug { margin-top:10px; }
		
		#debug-container { float:left; background-color:#f1fed5; border-top:1px solid #406300; color:#406300; min-height:200px; }
		#debug-container { border-bottom:30px solid #c0d895; padding-bottom:20px; }		
		
		#debug-tabs { position:relative; top:1px; }
		#debug-tabs a { background:none; color:#406300; margin:0; padding:0; }
		#debug-tabs nav ul li { float:left; padding:4px 4px 0 4px; margin:0px 1px; background-color:#80af1f; border:1px solid #406300; }
		#debug-tabs nav ul li a { color:#c0d895; }
		#debug-tabs nav ul li:nth-child(1)   { margin-left:1px; }
		#debug-tabs nav ul li.ui-tabs-selected { background-color:#f1fed5; border-bottom:1px solid #f1fed5; }
		#debug-tabs nav ul li.ui-tabs-selected a { color:#2a2a2a; }
		#debug-tabs nav ul li:hover { background-color:#f1fed5; border-bottom:1px solid #f1fed5; }
		#debug-tabs nav ul li:hover a { color:#2a2a2a; text-decoration:none;  }
		
		#debug-main h2 { position:relative; top:-14px; float:right; font-weight:normal; font-size:100%; font-style:italic; color:#bf4630; }
		#debug-queries .debug-queries-query { text-align:left; max-width:300px; }
		
		.debug-network-request { display:inline; white-space:nowrap; height:14px; font-style:italic; float:left; text-align:left; width:900px; margin-left:5px; overflow:hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
		.debug-network-request:hover { display:inline; white-space:nowrap; height:14px; font-style:italic; float:left; text-align:left; width:900px; margin-left:5px; overflow:visible; }
		.debug-network-return { display:inline; font-weight:bold; float:left; text-align:left; clear:both; width:900px; margin-left:5px; overflow:hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
		.debug-network-id { background-color:#80af1f; color:#fafafa; font-weight:bold; width:20px; }
		