/* CONTEXT: common */

.even {
 float:left;
 background-color:#dce0e5;
} 

.odd {
 float:left;
 background-color:#ecf0f5;
} 

#user textarea {
 width:339px;
 height:200px;
}

form#compose p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

form#compose p.error:hover {
 color:#aa0000;
 background:none;
} 


/* CONTEXT: user:buttons_top, buttons_bottom, actions */

#user #container #buttons_top {
 clear:both;
}

#user #container #buttons_bottom {
 clear:both;
}

#user #container #actions {
 float:left;
 width:340px;
 padding-top:5px;
 border-top:1px solid #dce0e5;
} 

#user #container #actions form#cancel,
#user #container #actions form#delete {
 width:auto;
}

#user #container #actions span {
 margin:0 !important;
}

#user #container #actions span.save {
 width:220px;
} 

#user #container #actions span.delete {
 width:64px;
} 

#user #container #actions span.cancel {
 width:55px;
 text-align:right;
} 

/* CONTEXT: user:scroll */

#user #scroll {
 float:left;
 width:498px;
 padding:5px 5px 0 5px;
}

#user #scroll a {
 background:none;
} 

#user #scroll a.selected {
 font-size:11px;
 font-weight:bold;
} 

#user #scroll span.prev {
 float:left;
 width:85px; 
} 

#user #scroll span.footnote {
 float:left;
 text-align:center;
 width:328px; 
} 

#user #scroll span.next {
 float:right;
 text-align:right;
 width:85px; 
} 

/* CONTEXT: user:titles */

#user #caption {
 float:left;
 width:500px;
 padding-left:10px;
 padding-top:10px;
 color:#000000;
}

#user #titles {
 float:left;
 width:100%;
 margin-top:10px;
 border-bottom:1px solid #000000;
} 

#user #titles a {
 background:none;
} 

/* CONTEXT: user:container */

#user #container {
 float:left;
 width:487px;
 background:#fafafa;
 border:1px solid #cccccc;
 border-right:2px solid #999999;
 border-bottom:2px solid #999999;
 padding:10px;
 -moz-border-radius:12px;
 text-align:left;
}

#user #container p#top {
 border-bottom:1px solid #000000;
} 

/* CONTEXT: user:error,message */

#user p.error {
 float:left;
 width:508px;
 position:relative;
 left:-11px;
 color:#ffffff;
 cursor:crosshair;
 border:1px solid #a31a31;
 border-left:none;
 border-right:none;
 padding:1px 0;
 text-align:center;
 font-style:italic;
 background:#cc151a;
} 

#user p.error:hover {
 color:#cabdcf;
 border-color:#a31a31;
 background:#9a151a;
 cursor:crosshair;
} 

#user p.message {
 float:left;
 width:508px;
 position:relative;
 left:-11px;
 color:#ffffff;
 cursor:crosshair;
 border:1px solid #311aff;
 border-left:none;
 border-right:none;
 padding:1px 0;
 margin-bottom:10px;
 text-align:center;
 font-style:italic;
 background:#311Aff;
} 

#user p.message:hover {
 color:#aaaaaa;
 background:#0106aa;
 cursor:crosshair;
} 

/* CONTEXT: users.journal.editor */

#user #journal #editor {
 float:left;
}

#user #journal #editor form#edit,
#user #journal #editor form#add {
 float:left;
 clear:both;
 width:340px;
 margin:10px 74px 0 73px;
}

#user #journal #editor form#edit p.error,
#user #journal #editor form#add p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

#user #journal #editor form#edit p.error:hover,
#user #journal #editor form#add p.error:hover {
 color:#aa0000;
} 

#user #journal #editor ul {
 float:left;
 padding:0px;
 margin:10px 0px 30px 0px;
 text-align:left;
} 

#user #journal #editor li {
 clear:both;
 height:1.6em;
 overflow:hidden;
 list-style-type:none;
} 

#user #journal #editor #titles span,
#user #journal #editor li span {
 overflow:hidden;
 margin-right:5px;
}

#user #journal #editor li a {
 background:none;
 text-decoration:none;
} 

#user #journal #editor span {
 float:left; 
} 

#user #journal #editor span.move_down {
 width:50px;
}

#user #journal #editor span.move_up {
 width:165px;
}

#user #journal #editor span.select_all,
#user #journal #editor span.select_none {
 width:150px;
}

#user #journal #editor span.delete_all {
 text-align:right;
 width:122px;
}

#user #journal #editor li:hover,
#user #journal #editor li:hover a {
 color:#311aff;
 float:left;
 background-color:#cfd3d8;
 height:auto;
 min-height:1.6em;
 max-height:3em;
 overflow:hidden;
 list-style-type:none;
} 

#user #journal #editor span.criteria {
 width:200px;
}

#user #journal #editor span.search {
 width:60px;
}

#user #journal #editor span.show_all {
 width:70px;
}

#user #journal #editor span.new {
 float:right;
 text-align:right;
} 

#user #journal #editor span {
 margin:0 4px 0 0;
}

/* edit, new */

#user #journal #editor p {
 clear:both;
 float:left;
 width:100%;
 margin:10px 0 0 0;
} 

/* CONTEXT: users.photosets:common */

#user #photosets span {
}

#user #photosets p#heading {
 width:487px;
 float:left;
 margin:5px 0 0 0; 
 text-align:center;
 border-bottom:1px solid #000000;
}

/* CONTEXT: users.photosets:listing */

#user #photosets #listing {
}

#user #photosets #listing p#heading {
 clear:both;
 text-align:center;
 border-bottom:1px solid #000000;
 margin:10px 0;
}

#user #photosets #listing form#viewtype {
 float:left;
 text-align:right;
 padding:0px; margin:0px;
 width:487px;
}

#user #photosets #listing ul {
 float:left; 
 text-align:center;
 width:487px;
 padding:0;
 margin:10px 0;
}

#user #photosets #listing ul a {
 background:none; 
 color:#000000;
}

#user #photosets #listing li.even {
 background-color:#dce0e5;
 -moz-border-radius:12px;
}

#user #photosets #listing li.odd {
 background-color:#ecf0f5;
 -moz-border-radius:12px;
}

#user #photosets #listing li.even:hover,
#user #photosets #listing li.odd:hover {
 background-color:#cfd3d8;
}

#user #photosets #listing li span {
 float:left;
 margin:0 0 0 5px;
 padding:0px;
 overflow:hidden;
}

#user #photosets #listing li span.thumb {
 width:100px;
 height:100px;
 margin:5px 5px 5px 10px;
 text-align:left;
 vertical-align:middle;
}

#user #photosets #listing li span.name {
 width:340px;
 height:14px;
 margin:5px 0 0 0;
 text-align:left;
}

#user #photosets #listing li span.tags {
 width:340px;
 height:20px;
 text-align:left;
}

#user #photosets #listing li span.description {
 width:365px;
 height:40px;
 margin:0 0 6px 0;
 text-align:justify;
}

#user #photosets #listing li span.photocount {
 width:290px;
 height:14px;
 text-align:right;
 margin:0px;
}

#user #photosets #listing li span.privacy {
 width:50px;
 height:auto;
 text-align:left;
}

#user #photosets #listing ul {
 float:left; 
 text-align:center;
 width:487px;
 padding:0;
 margin:10px 0;
}

#user #photosets #listing li {
 width:487px;
 height:110px;
 margin:0 0 2px 0;
 overflow:hidden;
 list-style-type:none;
}

#user #photosets #listing li:hover {
}

#user #photosets #actions,
#user #photosets #listing form#edit,
#user #photosets #listing form#add {
 float:left;
 clear:both;
 width:340px;
 margin:10px 74px 0 73px;
}

#user #photosets #listing form#edit p.error,
#user #photosets #listing form#add p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

#user #photosets #listing form#edit p.error:hover,
#user #photosets #listing form#add p.error:hover {
 color:#aa0000;
} 

/* CONTEXT: users.photosets:editor */

#user #photosets #editor {
 float:left;
}

#user #photosets #editor p#heading {
 clear:both;
 text-align:center;
 border-bottom:1px solid #000000;
 margin:10px 0;
}

#user #photosets form#masslist #buttons_top span,
#user #photosets form#masslist #buttons_bottom span {
 float:left;
}

#user #photosets form#masslist #buttons_top span.move_down{
 width:50px;
 text-align:left;
}

#user #photosets form#masslist #buttons_top span.move_up{
 width:150px
}

#user #photosets form#masslist #buttons_top span.select_none,
#user #photosets form#masslist #buttons_top span.select_all{
 width:150px;
}

#user #photosets form#masslist #buttons_top span.delete_all{
 width:137px;
 text-align:right;
}

#user #photosets form#masslist #buttons_bottom span.new{
 float:right;
}

#user #photosets #editor form#viewtype {
 float:left;
 text-align:right;
 padding:0px; margin:0px;
 width:487px;
}

#user #photosets #editor ul {
 float:left; 
 text-align:center;
 width:487px;
 padding:0;
 margin:10px 0;
 border-top:1px solid #000000;
 border-bottom:1px solid #000000;
}

#user #photosets #editor ul a {
 background:none; 
 color:#000000;
}

#user #photosets #editor li.even {
 background-color:#dce0e5;
}

#user #photosets #editor li.odd {
 background-color:#ecf0f5;
}

#user #photosets #editor li.even:hover,
#user #photosets #editor li.odd:hover {
 background-color:#cfd3d8;
}

#user #photosets #editor li {
 float:left;
 width:487px;
 height:17px;
 margin:0;
 overflow:hidden;
 list-style-type:none;
 -moz-border-radius:12px;
 -moz-border-radius-bottomleft:0px;
 -moz-border-radius-bottomright:0px;
}

#user #photosets #editor li:hover {
 -moz-border-radius:12px;
 height:auto;
}

#user #photosets #editor li span{
 float:left;
}

#user #photosets #editor li span.name {
 width:196px;
 height:15px;
 margin:2px 0 0 4px;
 text-align:left;
}

#user #photosets #editor li span.directory {
 width:200px;
 height:15px;
 margin:2px 0 0 0;
 text-align:left;
}

#user #photosets #editor li span.check {
 width:83px;
 margin:2px 4px 0 0;
 height:15px;
 text-align:right;
}

#user #photosets #editor li span.thumb {
 width:50px;
 height:auto;
 margin:0 10px 0 4px;
 overflow:hidden;
 text-align:left;
 vertical-align:middle;
}

#user #photosets #editor li span.thumb img {
 width:100%;
 height:auto;
}

#user #photosets #editor li span.description {
 width:401px;
 height:54px;
 margin:0 22px 0 0;
 overflow:hidden;
 text-align:justify;
}

#user #photosets #editor li span.photocount {
 clear:both;
 width:326px;
 margin:4px 0 2px 64px;
 height:14px;
 text-align:left;
}

#user #photosets #editor li span.edit {
 width:92px;
 margin:4px 4px 2px 0;
 height:14px;
 text-align:right;
}

/* CONTEXT: users.photosets:edit */

#user #photosets #edit {
 float:left;
}

#user #photosets #edit p {
 margin:10px 0 0 0;
}

#user #photosets #edit textarea {
 width:340px;
}

#user #photosets #edit p#directory_info,
#user #photosets #edit p#tags_info {
 margin:0px;
}

#user #photosets #edit form#edit,
#user #photosets #edit form#add {
 float:left;
 clear:both;
 width:340px;
 margin:10px 74px 0 73px;
}

#user #photosets #edit form#edit p.error,
#user #photosets #edit form#add p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

#user #photosets #edit form#edit p.error:hover,
#user #photosets #edit form#add p.error:hover {
 color:#aa0000;
} 

#user #photosets #actions span {
 float:left;
}

#user #photosets #actions span.save{
 width:100px;
 text-align:left;
}

#user #photosets #actions span.delete{
 width:160px;
 text-align:right;
}

#user #photosets #actions span.cancel{
 width:80px;
 text-align:right;
}

/* CONTEXT: users.photos:common */

#user #photos span {
}

#user #photos p#heading {
 width:487px;
 float:left;
 margin:5px 0 0 0; 
 text-align:center;
 border-bottom:1px solid #000000;
}

/* CONTEXT: users.photos:listing */

#user #photos #listing {
}

#user #photos #listing p#heading {
 clear:both;
 text-align:center;
 border-bottom:1px solid #000000;
 margin:10px 0;
}

#user #photos #listing ul a {
 background:none; 
 color:#000000;
}

#user #photos #listing li.even {
 background-color:#dce0e5;
 -moz-border-radius:12px;
}

#user #photos #listing li.odd {
 background-color:#ecf0f5;
 -moz-border-radius:12px;
}

#user #photos #listing li.even:hover,
#user #photos #listing li.odd:hover {
 background-color:#cfd3d8;
}

#user #photos #listing li span {
 float:left;
 margin:0 0 0 5px;
 padding:0px;
 overflow:hidden;
}

/* CONTEXT: users.photos:listing - one */

#user #photos #listing #one ul {
 float:left; 
 text-align:center;
 width:487px;
 padding:0;
 margin:10px 0;
}

#user #photos #listing #one li {
 width:487px;
 height:110px;
 margin:0 0 2px 0;
 overflow:hidden;
 list-style-type:none;
}

#user #photos #listing #one li:hover {
}

#user #photos #listing #one li span.thumb {
 width:100px;
 height:100px;
 margin:5px 5px 5px 10px;
 text-align:left;
 vertical-align:middle;
}

#user #photos #listing #one li span.filename {
 float:left;
 width:367px;
 margin:5px 0 0 0;
 text-align:left;
 border-bottom:1px solid #000000;
}

#user #photos #listing #one li span.description {
 width:365px;
 height:68px;
 overflow:hidden;
 margin:6px 0 0 0;
 text-align:justify;
}

#user #photos #listing #one li span.tags {
 float:left;
 width:200px;
 margin:0px;
 text-align:left;
}

#user #photos #listing #one li span.comments {
 width:165px;
 height:14px;
 text-align:right;
 margin:0px;
}

/* CONTEXT: users.photos:listing - two */

#user #photos #listing #two ul {
 float:left; 
 text-align:center;
 width:487px;
 padding:0;
 margin:10px 0;
}

#user #photos #listing #two li {
 width:241px;
 height:110px;
 margin:0 2px 2px 0;
 overflow:hidden;
 list-style-type:none;
}

#user #photos #listing #two li:hover {
}

#user #photos #listing #two li span.thumb {
 width:100px;
 height:100px;
 margin:5px 3px 5px 8px;
 text-align:left;
 vertical-align:middle;
}

#user #photos #listing #two li span.filename {
 float:left;
 width:117px;
 margin:0 2px 0 0;
 text-align:left;
 border-bottom:1px solid #000000;
}

#user #photos #listing #two li span.description {
 width:125px;
 height:68px;
 overflow:hidden;
 margin:6px 0;
 text-align:justify;
}

#user #photos #listing #two li span.tags {
 float:left;
 width:119px;
 margin:0px;
 text-align:left;
}

/* CONTEXT: users.photos:listing - four */

#user #photos #listing #four ul {
 float:left; 
 text-align:center;
 width:487px;
 padding:0;
 margin:10px 0;
}

#user #photos #listing #four li {
 width:119px;
 height:142px;
 margin:0 2px 2px 0;
 overflow:hidden;
 text-align:center;
 list-style-type:none;
}

#user #photos #listing #four li:hover {
}

#user #photos #listing #four li span.thumb {
 width:100px;
 height:100px;
 margin:5px 3px 5px 8px;
 text-align:center;
 vertical-align:middle;
}

#user #photos #listing #four li span.filename {
 float:left;
 width:119px;
 margin:0;
 text-align:center;
 overflow:hidden;
}

#user #photos #listing #four li span.comments {
 width:113px;
 height:14px;
 overflow:hidden;
 margin:6px 4px;
 text-align:center;
}

/* CONTEXT: users.photos:editor */

#user #photos #editor {
 float:left;
}

#user #photos #editor p#heading {
 clear:both;
 text-align:center;
 border-bottom:1px solid #000000;
 margin:10px 0;
}

#user #photos span.newphoto {
 float:left;
 width:427px;
 text-align:right;
}

#user #photos form#newphoto,
#user #photos form#masslist {
 width:487px;
 float:left;
}

#user #photos form#newphoto p.error {
 width:auto;
 clear:both;
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0 60px 0 0;
 text-align:right;
 font-style:italic;
 background:none;
 border:none;
} 

#user #photos form#newphoto p.error:hover {
 color:#aa0000;
} 

#user #photos span.submit {
 float:left;
 width:60px;
 text-align:right;
}

#user #photos form#masslist #buttons_top {
 float:left;
 margin:10px 0;
}

#user #photos form#masslist #buttons_top span,
#user #photos form#masslist #buttons_bottom span {
 float:left;
}

#user #photos form#masslist #buttons_top span.move_down{
 width:50px;
 text-align:left;
}

#user #photos form#masslist #buttons_top span.move_up{
 width:150px
}

#user #photos form#masslist #buttons_top span.select_none,
#user #photos form#masslist #buttons_top span.select_all{
 width:150px;
}

#user #photos form#masslist #buttons_top span.delete_all{
 width:137px;
 text-align:right;
}

#user #photos form#masslist #buttons_bottom span.new{
 float:right;
}

#user #photos form#returnback {
 float:left;
 text-align:left;
 padding:0px; margin:0px;
 width:100px;
}

#user #photos form#viewtype {
 float:left;
 text-align:right;
 padding:0px; margin:0px;
 width:387px;
}

#user #photos #editor ul {
 float:left; 
 width:487px;
 padding:0;
 margin:10px 0;
 border-top:1px solid #000000;
 border-bottom:1px solid #000000;
}

#user #photos #editor a {
 background:none;
 color:#000000;
}

#user #photos #editor li.even {
 background-color:#dce0e5;
}

#user #photos #editor li.odd {
 background-color:#ecf0f5;
}

#user #photos #editor li.even:hover,
#user #photos #editor li.odd:hover {
 background-color:#cfd3d8;
}

#user #photos #editor li {
 float:left;
 width:487px;
 height:17px;
 margin:0;
 overflow:hidden;
 list-style-type:none;
 -moz-border-radius:12px;
 -moz-border-radius-bottomleft:0px;
 -moz-border-radius-bottomright:0px;
}

#user #photos #editor li:hover {
 -moz-border-radius:12px;
 height:auto;
}

#user #photos #editor li span{
 float:left;
}

#user #photos #editor li span.filename {
 width:296px;
 height:15px;
 margin:2px 0 0 4px;
 text-align:left;
}

#user #photos #editor li span.hint {
 width:96px;
 height:15px;
 margin:2px 0 0 4px;
 text-align:left;
}

#user #photos #editor li span.check {
 width:83px;
 margin:2px 4px 0 0;
 height:15px;
 text-align:right;
}

#user #photos #editor li span.directory {
 width:200px;
 height:15px;
 margin:2px 0 0 0;
 text-align:left;
}

#user #photos #editor li span.thumb {
 width:50px;
 height:auto;
 margin:0 10px 0 4px;
 overflow:hidden;
 text-align:left;
 vertical-align:middle;
}

#user #photos #editor li span.thumb img {
 width:100%;
 height:auto;
}

#user #photos #editor li span.description {
 width:401px;
 height:54px;
 margin:0 22px 0 0;
 overflow:hidden;
 text-align:justify;
}

#user #photos #editor li span.comments {
 clear:both;
 width:326px;
 margin:4px 0 2px 64px;
 height:14px;
 text-align:left;
}

#user #photos #editor li span.edit {
 width:92px;
 margin:4px 0 2px 0;
 text-align:right;
}

/* CONTEXT: users.photos:edit */

#user #photos #edit {
 float:left;
}

#user #photos #edit p {
 margin:10px 0 0 0;
}

#user #photos #edit p#filename_info,
#user #photos #edit p#hint_info,
#user #photos #edit p#tags_info {
 margin:0px;
}

#user #photos #actions,
#user #photos #edit form#edit {
 float:left;
 clear:both;
 width:340px;
 margin:10px 74px 0 73px;
}

#user #photos #edit form#edit p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

#user #photos #edit form#edit p.error:hover {
 color:#aa0000;
} 

#user #photos #actions span {
 float:left;
}

#user #photos #actions span.save{
 width:100px;
 text-align:left;
}

#user #photos #actions span.delete{
 width:160px;
 text-align:right;
}

#user #photos #actions span.cancel{
 width:80px;
 text-align:right;
}

/* CONTEXT: users.photo */

#user #photo {
 float:left;
 min-width:510px;
 margin:0 auto;
 margin-right:auto;
 margin-left:auto;
}

#user #photo #caption {
 width:100%;
 text-align:left;
}

#user #photo #container {
 width:auto;
 min-width:510px;
 text-align:center;
}

/* CONTEXT: users.photo.description */

#user #photo #description {
 float:left;
}

#user #photo #description #container {
 width:510px;
 margin:0 auto;
}

/* CONTEXT: users.photo.comments */

#user #photo #comments {
 float:left;
}

#user #photo #comments #container {
 width:510px;
 text-align:left;
}

/* CONTEXT: users.folders */

#user #folders #compose {
 float:left;
 clear:right;
 margin-bottom:5px;
 width:237px;
 margin-right:5px;
}
#user #folders #compose span.compose {
 float:right;
} 

#user #folders #list #normal {
 font:12px Arial;
 width:188px;
 padding-top:2px;
 padding-bottom:2px;
 padding-left:10px;
 margin-bottom:5px;
 color:#000000;
}

#user #folders #list #selected {
 clear:both;
 font:12px Arial;
 width:230px;
 padding-top:2px;
 padding-bottom:2px;
 padding-left:10px;
 margin-bottom:5px;
 color:#0232ff;
 -moz-border-radius:8px;
 -moz-border-radius-topright:0px;
 -moz-border-radius-bottomright:0px;
 background-color:#bfd3e8;
 border:1px;
 border-right:0px;
 border-style:solid;
 border-color:#ccd0d5;
}

#user #folders #list #selected a {
 color:#0232ff;
 background-color:#bfd3e8;
} 

#user #folders #list #normal a {
 color:#000000;
 background:#fafafa;
} 

#user #folders #list #title {
 display:inline;
} 

#user #folders #list #new {
 font-weight:bold;
 display:inline;
 margin:0px; 
 padding:0px;
} 

/* CONTEXT: users.messages.labels */

#user #folders #container,
#user #labels #container {
 font:11px Arial;
 width:235px;
 background:#fafafa;
 border:1px solid #cccccc;
 border-right:2px solid #999999;
 border-bottom:2px solid #999999;
 padding:6px;
 -moz-border-radius:12px;
}

#user #labels #container #edit {
 padding:5px 0;
 text-align:right;
}

#user #labels ul {
 padding:0px; margin:0 0 10px 0;
} 

#user #labels li {
 list-style-type:none;
}

#user #labels li.normal {
 font:10px Arial;
 width:188px;
 padding-left:10px;
 color:#000000;
}

#user #labels li.selected {
 font:10px Arial;
 width:230px;
 padding:0 0 0 10px;
 color:#0232ff;
 -moz-border-radius:8px;
 -moz-border-radius-topright:0px;
 -moz-border-radius-bottomright:0px;
 background-color:#bfd3e8;
 border:1px solid #ccd0d5;
 border-right:0px;
}

#user #labels li.normal a {
 color:#000000;
 background:#fafafa;
} 

#user #labels li.selected a {
 color:#0232ff;
 background-color:#bfd3e8;
} 

#user #labels #title {
} 

#user #labels #new {
 font-size:11px;
 padding:0 0 0 5px;
 font-weight:bold;
} 

#user #labels p.message {
 width:247px;
 position:relative;
 left:-6px;
 color:#ffffff;
 cursor:crosshair;
 border:1px solid #311aff;
 border-left:none;
 border-right:none;
 padding:1px 0;
 text-align:center;
 font-style:italic;
 background:#311Aff;
} 

#user #labels p.message:hover {
 color:#aaaaaa;
 background:#0106aa;
 cursor:crosshair;
} 

/* CONTEXT: users.editlabels */

#user #editlabels {
 float:left;
}

#user #editlabels ul {
 float:left;
 padding:0; margin:0;
 text-align:left;
}

#user #editlabels li {
 list-style-type:none;
 padding:3px 0;
}

#user #editlabels li p.error {
 float:left;
 color:#ff1A31;
 width:487px;
 margin:0 0 0 10px ;
 padding:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
}

#user #editlabels li:hover {
 color:#0232ff;
 background-color:#bfd3e8;
}

#user #editlabels li span {
 float:left;
 overflow:hidden;
 padding:0px;
}

#user #editlabels li span.label {
 width:232px;
 margin-right:10px;
}

#user #editlabels li span.count {
 width:105px;
 top:0px;
 margin:0px 10px 0 0;
}

#user #editlabels li span.save_label {
 width:55px;
}

#user #editlabels li span.delete_label {
 width:55px;
}

#user #editlabels li span.count {
 width:125px;
 top:0px;
 margin:0px 10px 0 0;
}

#user #editlabels #buttons {
 width:487px;
 margin:10px 0 0 0;
}

#user #editlabels #buttons #new {
 float:right;
 padding:10px 0;
}

/* CONTEXT: user.friends.circles:editor */

#user #circles #editor {
 float:left;
}

#user #circles p#heading {
 width:487px;
 float:left;
 margin:5px 0 0 0; 
 text-align:center;
 border-bottom:1px solid #000000;
}

#user #circles #editor ul {
 float:left; 
 width:487px;
 padding:0;
 margin:10px 0;
 border-top:1px solid #000000;
 border-bottom:1px solid #000000;
}

#user #circles #editor li {
 width:487px;
 height:15px;
 margin:0;
 overflow:hidden;
 -moz-border-radius:12px;
 -moz-border-radius-bottomleft:0px;
 -moz-border-radius-bottomright:0px;
}

#user #circles #editor li a {
 background:none;
 text-decoration:none;
} 


#user #circles #editor li p.error {
 float:left;
 color:#ff1A31;
 width:487px;
 margin:0 0 0 10px ;
 padding:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
}

#user #circles #editor li:hover {
 color:#0232ff;
 background-color:#bfd3e8;
}

#user #circles #editor li span {
 float:left;
 overflow:hidden;
 padding:0px;
}

#user #circles #editor li span.name {
 width:201px;
 margin:0 10px 0 4px;
}

#user #circles #editor li span.count {
 width:232px;
 font-style:italic;
 top:0px;
 margin:0px 10px 0 0;
}

#user #circles #editor li span.mark_circles {
 float:left;
 width:401px;
 height:54px;
 margin:0 22px 0 0;
 overflow:hidden;
 text-align:justify;
}

#user #circles #editor li span.check {
 width:23px;
 margin:2px 4px 0 0;
 text-align:right;
}

#user #circles #buttons_top,
#user #circles #buttons_bottom {
 float:left;
 width:487px;
 margin:10px 0 0 0;
}

#user #circles form#masslist #buttons_top span {
 float:left;
}

#user #circles form#masslist #buttons_top span.move_down{
 width:50px;
 text-align:left;
}

#user #circles form#masslist #buttons_top span.move_up{
 width:150px
}

#user #circles form#masslist #buttons_top span.select_none,
#user #circles form#masslist #buttons_top span.select_all{
 width:150px;
}

#user #circles form#masslist #buttons_top span.delete_all{
 width:137px;
 text-align:right;
}

#user #circles #buttons_bottom span.back {
 float:left;
 width:200px;
 text-align:left;
}

#user #circles #buttons_bottom span.new {
 float:left;
 width:287px;
 text-align:right;
}

#user #circles #search {
 float:left;
 margin:5px 0 0 0;
 padding:0;
}

/* CONTEXT: user.friends.circles:edit */

#user #circles #edit {
 float:left;
}

#user #circles #edit p {
 margin:10px 0 0 0;
}

#user #circles #actions,
#user #circles #edit form#edit {
 float:left;
 clear:both;
 width:340px;
 margin:10px 74px 0 73px;
}

#user #circles #edit form#edit p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

#user #circles #edit form#edit p.error:hover {
 color:#aa0000;
} 

#user #circles #edit form#add input.name,
#user #circles #edit form#edit input.name {
 width:175px;
}

#user #circles #edit form#add textarea, 
#user #circles #edit form#edit textarea {
 height:80px;
}

#user #circles #actions span {
 float:left;
}

#user #circles #actions span.save{
 width:100px;
 text-align:left;
}

#user #circles #actions span.delete{
 width:160px;
 text-align:right;
}

#user #circles #actions span.cancel{
 width:80px;
 text-align:right;
}

/* CONTEXT: users.messages */

#user #messages #container {
 float:left;
}

#user #messages #container ul {
 float:left;
 width:487px;
 padding:0;
 margin:0;
 border-top:1px solid #000000;
 border-bottom:1px solid #000000;
 text-align:left;
}

#user #messages #container li {
 list-style-type:none;
 width:487px;
 -moz-border-radius:12px;
 -moz-border-radius-bottomleft:0px;
 -moz-border-radius-bottomright:0px;
}

#user #messages #buttons {
 float:left;
 margin:10px 0;
 width:487px;
}

#user #messages #buttons span {
 float:left;
 margin:0px;
 padding:0px;
}

#user #messages #buttons span#foldername {
 width:113px;
}

#user #messages #buttons span.spam_all {
 width:114px;
}

#user #messages #buttons span.select_none,
#user #messages #buttons span.select_all {
 width:70px;
}

#user #messages #buttons span.delete_forever_all,
#user #messages #buttons span.trash_all {
 width:110px;
 text-align:right;
}

#user #messages #buttons span#change {
 margin-left:10px;
 width:70px;
 text-align:right;
}

#user #messages #buttons span#read {
 width:109px;
 text-align:left;
}

#user #messages #buttons span#archive {
 width:125px;
}

#user #messages #buttons span#inbox {
 width:110px;
}

#user #messages #buttons span#label {
 width:143px;
}
#user #messages #buttons span.labelvalue select {
 float:right;
}

#user #messages #container li {
 float:left;
}

#user #messages #container li a {
 background:none;
}

#user #messages #container li.even {
 background-color:#dce0e5;
}

#user #messages #container li.odd {
 background-color:#ecf0f5;
}

#user #messages #container li.even_new {
 font-weight:bold;
 font-size:11px;
 background-color:#dce0e5;
}

#user #messages #container li.odd_new {
 font-weight:bold;
 font-size:11px;
 background-color:#ecf0f5;
}


#user #messages #container li.even:hover,
#user #messages #container li.even_new:hover,
#user #messages #container li.odd_new:hover,
#user #messages #container li.odd:hover {
 color:#0232ff;
 background-color:#bfd3e8;
}

#user #messages #container li span {
 float:left;
}

#user #messages #container li span.username {
 width:88px;
 overflow:hidden;
 height:14px;
 margin:0 13px 0 3px;
 padding:0px;
}

#user #messages #container li span.mark_inbox {
 font-size:10px;
 width:auto;
 color:#0232ff;
 background-color:#bfd3e8;
 padding:0 2px;
 margin:0 2px 0 0;
} 

#user #messages #container li span.mark_labels {
 font-size:10px;
 width:auto;
 font-style:italic;
 color:#0232ff;
 top:0px;
 left:0px;
 padding:0px;
 margin-right:4px;
} 

#user #messages #container li span.subject {
 width:295px;
 overflow:hidden;
 display:inline;
 top:0px;
 margin-right:10px;
 padding:0px;
}

#user #messages #container li span.mark_inbox {
 font-size:10px;
 color:#0232ff;
 background-color:#bfd3e8;
 margin:0 2px 0 0;
} 

#user #messages #container li span.mark_labels {
 font-size:10px;
 font-style:italic;
 color:#0232ff;
 margin:0 4px 0 0;
} 

#user #messages #container li span.stamp {
 width:50px;
 overflow:hidden;
 display:inline;
 top:0px;
 margin-right:10px;
 padding:0px;
}

#user #messages #container li span.checkbox {
 width:15px;
 display:inline;
 top:0px;
 margin-right:0px;
 padding:0px;
}

#user #messages #container #search {
 float:left;
}

/* CONTEXT: users.messages:view */

#user #messages #container #view {
}

#user #messages #container #view #header {
 float:left;
 clear:both;
}

#user #messages #container #view #header #top {
 float:left;
 width:487px;
 background-color:#cfd3d8;
 -moz-border-radius:4px;
 -moz-border-radius-bottomright:0px;
 -moz-border-radius-bottomleft:0px;
 border:0px;
 border-bottom:1px;
 border-style:solid;
 border-color:#000000;
}

#user #messages #container #view #header #top span {
 float:left;
 padding:5px 0 5px 10px;
}

#user #messages #container #view #header #top span#subject {
 width:299px;
 font-weight:bold;
 font-size:12px;
}

#user #messages #container #view #header #top span#status,
#user #messages #container #view #header #top span#labels {
 float:right;
 padding-right:10px;
}

#user #messages #container #view #header #top span#labels a {
 color:#0232ff;
 background-color:#cfd3d8;
 font-style:italic;
}

#user #messages #container #view #header #bottom {
 float:left;
}

#user #messages #container #view #header #bottom span#sender {
 float:left;
}

#user #messages #container #view #header #bottom span#stamp {
 float:right;
}

#user #messages #container #view #body {
 float:left;
 width:455px;
 min-height:60px;
 font-size:11px;
 color:#000000;
 background-color:#edf1f6;
 border:1px solid #dce0e5;
 padding:10px 15px;
 margin:10px 0;
 -moz-border-radius:8px;
}

#user #messages #container #view #body a.localuser,
#user #messages #container #view #body a.remoteuser,
#user #messages #container #view #body a.localgroup,
#user #messages #container #view #body a.remotegroup {
 font-size:10px;
}

#user #messages #container #view #buttons {
 width:487px;
 color:#000000;
 padding-left:00px;
 padding-right:0px;
 margin-top:10px;
 padding-bottom:10px;
} 

#user #messages #container #view span.trash,
#user #messages #container #view span.delete_forever {
 width:209px;
 text-align:right;
}

#user #messages #container #view span#back {
 width:174px;
}

#user #messages #container #view span.not_spam,
#user #messages #container #view span.spam {
 width:104px;
}

#user #messages #container #view span.reply {
 width:60px;
}

#user #messages #container #view span.forward {
 width:80px;
}

#user #messages #container #view span.unread {
 width:80px;
 text-align:center;
}

#user #messages #container #view span.move_inbox,
#user #messages #container #view span.archive {
 width:107px;
 text-align:center;
}

#user #messages #container #view span.label {
 width:158px;
 text-align:right;
}

/* CONTEXT: users.messages:compose */

#user #messages #container #compose #top {
 border-bottom:1px solid #000000;
}

#user #messages #container #compose form#compose {
 float:left;
 width:339px;
 padding:0 74px;
 margin:10px 0;
}

#user #messages #container #compose form#compose input.subject {
 width:339px;
}

#user #messages #container #compose p {
 clear:both;
 margin:10px 0 0 0;
} 

#user #messages #container #compose #buttons {
 width:339px;
}

#user #messages #container #compose span.save_draft {
 width:169px;
}

#user #messages #container #compose span.send {
 width:106px;
}

#user #messages #container #compose span.cancel {
 float:left;
 width:64px;
 text-align:right;
}

/* CONTEXT: users.friends */

#user #friends {
}

#user #friends form#viewtype {
 float:left;
 text-align:right;
 padding:0px; margin:0px;
 width:487px;
}

#user #friends p#heading {
 width:487px;
 float:left;
 margin:5px 0 0 0; 
 text-align:center;
 border-bottom:1px solid #000000;
}

#user #friends #search {
 float:left;
 margin:10px 0 0 0;
 padding:0;
}

/* CONTEXT: users.friends:listing */

#user #friends #listing ul {
 float:left; 
 text-align:center;
 width:487px;
 padding:0;
 margin:10px 0;
}

#user #friends #listing li {
 width:118px;
 height:150px;
 list-style-type:none;
 text-align:center;
 margin:3px 2px 3px 1px; 
 -moz-border-radius:8px;
}

#user #friends #listing li.even {
 background-color:#ecf0f5;
 margin:3px 2px 3px 2px; 
}

#user #friends #listing li.odd {
 background-color:#ecf0f5;
}

#user #friends #listing li.even:hover,
#user #friends #listing li.odd:hover {
 background-color:#cfd3d8;
}

#user #friends #listing li span {
 float:left;
}

#user #friends #listing li span {
 width:118px;
}

#user #friends #listing li span.fullname {
}

#user #friends #listing li span.icon {
 height:100px;
 clear:both;
}

#user #friends #listing li span.online {
 clear:both;
 width:118px;
 height:20px;
 margin-top:2px;
 text-align:center;
}

#user #friends #listing li span.domain {
 clear:both;
 width:118px;
 color:#9a8d9f;
}

#user #friends #listing .circleview {
 float:left; 
 width:487px;
 margin:10px 0;
}

#user #friends p.name {
 float:left;
 clear:both;
 width:100%;
 text-align:left;
 padding:0px; margin:0px;
 border-bottom:1px solid #000000;
}

#user #friends p.description {
 float:left;
 clear:both;
 height:auto;
 padding:5px 4px; margin:0px;
 width:479px;
 text-align:justify;
}

/* CONTEXT: users.friends:requests */

#user #friends #requests #listing {
 float:left;
}

#user #friends #requests #listing li {
 float:left;
 width:236px;
}

#user #friends #pending #listing li {
 float:left;
 height:170px;
}
#user #friends #listing li span.cancel {
 float:left;
 margin:5px 0;
}

#user #friends #listing li span.deny,
#user #friends #listing li span.approve {
 width:59px;
 margin:43px 0;
 height:13px;
}

/* CONTEXT: users.friends:editor */

#user #friends form#masslist #buttons_top,
#user #friends form#masslist #buttons_bottom {
 float:left;
 margin:10px 0 0 0;
}

#user #friends form#masslist #buttons_top span,
#user #friends form#masslist #buttons_bottom span {
 float:left;
}

#user #friends form#masslist #buttons_top span.move_down{
 width:50px;
 text-align:left;
}

#user #friends form#masslist #buttons_top span.move_up{
 width:150px
}

#user #friends form#masslist #buttons_top span.select_none,
#user #friends form#masslist #buttons_top span.select_all{
 width:150px;
}

#user #friends form#masslist #buttons_top span.delete_all{
 width:137px;
 text-align:right;
}

#user #friends form#masslist #buttons_bottom span#circle{
 width:200px;
 float:right;
 text-align:right;
}

#user #friends #buttons_bottom form#editcircles span.edit_circles {
 float:right;
 width:287px;
}

#user #friends #editor ul {
 float:left; 
 text-align:center;
 width:487px;
 padding:0;
 margin:10px 0;
 border-top:1px solid #000000;
 border-bottom:1px solid #000000;
}

#user #friends #editor li {
 width:487px;
 height:15px;
 margin:0;
 overflow:hidden;
 list-style-type:none;
 -moz-border-radius:12px;
 -moz-border-radius-bottomleft:0px;
 -moz-border-radius-bottomright:0px;
}

#user #friends #editor li a {
 background:none;
}

#user #friends #editor li:hover {
 height:auto;
 -moz-border-radius:12px;
}

#user #friends #editor li span {
 float:left;
 margin:0 0 0 5px;
 padding:0px;
 overflow:hidden;
}

#user #friends #editor li span.fullname {
 width:100px;
 height:15px;
 margin:2px 0 0 2px;
 text-align:left;
}

#user #friends #editor li span.alias {
 width:88px;
 height:15px;
 margin:2px 0 0 2px;
 text-align:left;
}

#user #friends #editor li span.alias a {
 color:#7a6ddf;
 font-size:11px;
 font-style:italic;
}

#user #friends #editor li span.circles {
 width:266px;
 height:15px;
 color:#0232ff;
 font-style:italic;
 overflow:hidden;
 margin:2px 0 0 2px;
 text-align:left;
}

#user #friends #editor li span.check {
 width:23px;
 margin:2px 4px 0 0;
 height:15px;
 text-align:right;
}

#user #friends #editor li span.icon {
 vertical-align:top;
 width:50px;
 height:auto;
}

#user #friends #editor li span.icon img {
 width:100%;
 height:auto;
}

#user #friends #editor li span.username {
 width:134px;
 margin:48px 0 0 4px;
 text-align:left;
}

#user #friends #editor li span.domain {
 width:194px;
 margin:48px 0 0 0;
 text-align:left;
}
#user #friends #editor li span.domain a {
 color:#9a8d9f;
}

#user #friends #editor li span.edit {
 width:96px;
 margin:48px 4px 2px 0;
 text-align:right;
}

/* CONTEXT: users.friends:edit */

#user #friends #edit {
 float:left;
}

#user #friends form#circle {
 float:left;
 width:340px;
 margin:10px 74px 0 73px;
 text-align:right;
}

#user #friends #edit p {
 margin:10px 0 0 0;
}

#user #friends #edit p#info_alias {
 font-style:italic;
 margin:0px;
}

#user #friends #actions,
#user #friends #edit form#edit {
 float:left;
 clear:both;
 width:340px;
 margin:0 74px 0 73px;
}

#user #friends #edit form#edit input.alias{
 width:215px;
}

#user #friends #actions {
 margin:20px 74px 0 73px;
}

#user #friends #edit form#edit p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

#user #friends #edit form#edit p.error:hover {
 color:#aa0000;
} 

#user #friends #edit form#edit span.circles {
 font-style:italic;
 color:#0232ff;
}

#user #friends #actions span {
 float:left;
}

#user #friends #actions span.save{
 width:100px;
 text-align:left;
}

#user #friends #actions span.delete{
 width:160px;
 text-align:right;
}

#user #friends #actions span.cancel{
 width:80px;
 text-align:right;
}

/* CONTEXT: users.invite */

#user #invite #container {
 font:11px Arial;
 width:235px;
 background:#fafafa;
 border:1px solid #cccccc;
 border-right:2px solid #999999;
 border-bottom:2px solid #999999;
 text-align:right;
 padding:6px;
 -moz-border-radius:12px;
}

#user #invite #caption {
 width:220px;
 padding:10px 0 0 10px;
 color:#000000;
}

#user #invite #container p {
 margin:0;
}

#user #invite #container p#content {
 text-align:justify;
 margin:0px;
 padding:0 0 10px 0;
}

#user #invite #container form#invite {
 float:left;
 width:230px;
 text-align:center;
}

#user #invite #container input.recipient {
 clear:both;
 margin-right:auto;
 margin-left:auto;
}

#user #invite #container p.error {
 margin:10px 0 0 0;
 clear:both;
 float:left;
 width:242px;
 position:relative;
 left:-6px;
 color:#ffffff;
 cursor:crosshair;
 border:1px solid #a31a31;
 border-left:none;
 border-right:none;
 padding:1px 0;
 text-align:center;
 font-style:italic;
 background:#cc151a;
} 

#user #invite #container p.error:hover {
 color:#cabdcf;
 border-color:#a31a31;
 background:#9a151a;
 cursor:crosshair;
} 

#user #invite #container p.message {
 width:242px;
 position:relative;
 left:-6px;
 color:#ffffff;
 cursor:crosshair;
 border:1px solid #311aff;
 border-left:none;
 border-right:none;
 padding:1px 0;
 text-align:center;
 font-style:italic;
 background:#311Aff;
} 

#user #invite #container p.message:hover {
 color:#aaaaaa;
 background:#0106aa;
 cursor:crosshair;
} 

#user #invite #container span.invite {
 margin:10px 10px;
 float:right;
 width:auto;
 text-align:right;
} 

/* CONTEXT: users.profilephoto */

#user #profilephoto #container {
 font:11px Arial;
 width:230px;
 background:#fafafa;
 border:1px solid #cccccc;
 border-right:2px solid #999999;
 border-bottom:2px solid #999999;
 text-align:justify;
 padding:6px;
 -moz-border-radius:12px;
}

#user #profilephoto #container #image {
 float:left;
 width:228px;
}

#user #profilephoto #container img {
 width:100%;
 border:1px solid #dfdfdf;
}

#user #profilephoto #caption {
 width:220px;
 padding:0 0 0 10px;
 color:#000000;
}

/* CONTEXT: users.profile */

#user #profile #container {
 font:11px Arial;
 width:230px;
 background:#fafafa;
 border:1px solid #cccccc;
 border-right:2px solid #999999;
 border-bottom:2px solid #999999;
 text-align:justify;
 padding:6px;
 -moz-border-radius:12px;
}

#user #profile #caption {
 width:220px;
 padding:0 0 0 10px;
 margin-top:10px;
 color:#000000;
}

/* CONTEXT: users.invite */

#user #invite #container {
 width:230px;
}

/* CONTEXT: users.contact */

#user #contact #container {
 font:11px Arial;
 width:230px;
 background:#fafafa;
 border:1px solid #cccccc;
 border-right:2px solid #999999;
 border-bottom:2px solid #999999;
 text-align:justify;
 padding:6px;
 -moz-border-radius:12px;
}

#user #contact #container span.add_remote_friend,
#user #contact #container span.add_friend,
#user #contact #container span.send_remote_message,
#user #contact #container span.send_message {
 float:left;
 width:105px;
 margin:5px 0 5px 10px;
}

#user #contact #container span.add_remote_enemy,
#user #contact #container span.add_enemy,
#user #contact #container span.block_remote,
#user #contact #container span.block {
 float:right;
 text-align:right;
 width:104px;
 margin:5px 10px 5px 0;
}

#user #contact #caption {
 width:220px;
 padding:0 0 0 10px;
 margin-top:10px;
 color:#000000;
}

/* CONTEXT: users.tabs */

#user #tabs { 
 float:left;
 width:510px;
 height:13px;
 margin-top:10px;
 margin-bottom:5px;
 text-align:justify;
}

#user #tabs a {
 background:none;
} 

#user #tabs img {
 margin-left:7px;
} 

/* CONTEXT: users.privacy */


#user #privacy {
 float:left;
}

#user #privacy .even,
#user #privacy .odd {
 background:none;
}

#user #privacy .even:hover,
#user #privacy .odd:hover {
 background-color:#ecf0f5;
}

#user #privacy span.label {
 width:110px;
 text-align:left;
} 

#user #privacy ul {
 float:left;
 padding:0px;
 margin:10px 0px 10px 0px;
}

#user #privacy li {
 height:1.6em;
 overflow:hidden;
 list-style-type:none;
} 

#user #privacy #titles span,
#user #privacy li span {
 overflow:hidden;
 margin-right:5px;
}

#user #privacy #titles span {
 cursor:help;
}

#user #privacy li a {
 background:none;
 text-decoration:none;
} 

#user #privacy li:hover,
#user #privacy li:hover a {
 color:#311aff;
 float:left;
 background-color:#cfd3d8;
 height:auto;
 min-height:1.6em;
 max-height:3em;
 overflow:hidden;
 list-style-type:none;
} 

#user #privacy span {
 float:left;
}

#user #privacy span.allow,
#user #privacy span.screen,
#user #privacy span.restrict,
#user #privacy span.block,
#user #privacy span.hide {
 width:40px;
 margin-right:5px;
} 


/* CONTEXT: users.journal */

#user #journal {
  clear:both;
}

#user #journal #container form select.journalview,
#user #journal #container form select.journalviewadmin {
 float:right;
}

#user #journal #container span.subject {
 width:300px;
}

#user #journal #container span.comments {
 width:80px;
}

#user #journal #container span.posted {
 width:60px;
}

#user #journal #container span.checkbox {
 text-align:right;
 float:right;
 width:18px;
 padding-right:2px;
 margin:0px;
}

#user #journal #multiple p.message,
#user #journal #single p.message {
 width:487px;
 left:0px;
}

#user #journal #view #header,
#user #journal #single #header,
#user #journal #multiple #header {
 float:left;
 width:487px;
 border-bottom:1px solid #ccd0d5;
 margin:10px 0;
}

#user #journal #view #header span.icon,
#user #journal #single #header span.icon,
#user #journal #multiple #header span.icon {
 width:100px;
 margin-right:10px;
}

#user #journal #view #header span.title,
#user #journal #single #header span.title,
#user #journal #multiple #header span.title {
 width:377px;
 font-size:12px;
}

#user #journal #view #header span.posted,
#user #journal #single #header span.posted,
#user #journal #multiple #header span.posted {
 width:377px;
 color:#8c9095;
 font-weight:bold;
}

#user #journal #container {
 width:auto;
 min-width:487px;
}

#user #journal #view #back {
 float:left;
 margin:10px 0 5px 0;
}

#user #journal #view #content,
#user #journal #single #content,
#user #journal #multiple #content {
 float:left;
 clear:both;
 width:auto;
 min-width:475px;
 padding:5px;
 border:1px solid #8c9095;
 background:#ecf0f5;
 -moz-border-radius:12px;
 text-align:justify;
}

#user #journal #view #content img,
#user #journal #single #content img,
#user #journal #multiple #content img {
 padding:5px;
}

#user #journal #view #content #tags,
#user #journal #single #content #tags,
#user #journal #multiple #content #tags {
 border-top:1px solid #8c9095;
 margin:5px 0;
 padding:0 5px;
 text-align:center;
}

#user #journal #listing ul {
 float:left;
 width:487px;
 padding:0px;
 margin:10px 0 20px 0;
 text-align:left;
} 

#user #journal #listing li {
 clear:both;
 color:#000000;
 height:1.6em;
 padding:3px 0;
 overflow:hidden;
 list-style-type:none;
 border-bottom:1px solid #ccd0d5;
} 

#user #journal #listing #titles span,
#user #journal #listing li span {
 overflow:hidden;
 margin-right:5px;
}

#user #journal #listing li a {
 background:none;
 text-decoration:none;
} 

#user #journal #listing span {
 float:left; 
} 

#user #journal #listing li.even {
 background-color:#dce0e5;
 border-bottom:1px solid #bcc0c5;
}

#user #journal #listing li.odd {
 background-color:#ecf0f5;
 border-bottom:1px solid #ccd0d5;
}

#user #journal #listing li:hover {
 height:114px;
 color:#0232ff;
 float:left;
 background-color:#bfd3e8;
}

#user #journal #listing li span.subject {
 width:295px;
 font-size:12px;
 margin-left:5px;
 font-weight:bold;
 height:1.5em;
 overflow:hidden;
}

#user #journal #listing li span.count {
 width:80px;
}

#user #journal #listing li span.security {
 width:27px;
}

#user #journal #listing li span.posted {
 width:60px;
 text-align:right;
 margin-right:5px;
}

#user #journal #listing li span.body {
 float:left;
 margin:10px;
 width:467px;
}

#user #journal form {
 float:left;
 width:487px;
}

/* CONTEXT: users.options */

#user #options {
}


#user #options #container #sections {
 float:left;
 width:481px;
 position:relative;
 left:-10px;
 padding-left:25px;
 text-align:center;
 background-color:#bfd3e8;
 border:1px solid #ccd0d5;
}

#user #options #container #sections span {
 float:left;
 padding:2px 4px;
 margin:4px;
 background:#efefff;
 border:1px solid #cccccc;
 cursor:crosshair;
}

#user #options #container #sections span.off {
 padding:3px 5px;
 border:none;
 background:none;
}

#user #options #container #sections span.on {
 padding:2px 4px 2px 4px;
 background:#efefff;
 color:#333355;
 border:1px solid #cccccc;
 border-right:1px solid #888888;
 border-bottom:1px solid #888888;
}

#user #options #container #sections span:hover {
 padding:2px 4px 2px 4px;
 color:#000000;
 background-color:#afc3d8;
 border:1px solid #666666;
 border-right:1px solid #000000;
 border-bottom:1px solid #000000;
}

#user #options #container #sections span.on:hover {
 color:#222222;
 background:#ffffff;
 border:1px solid #cccccc;
 border-right:1px solid #888888;
 border-bottom:1px solid #888888;
} 

#user #options form#options .off {
 color:#222222;
 visibility:hidden;
 overflow:hidden;
 height:0;
 margin:0; padding:0;
}

#user #options form#options .on {
 float:left;
 clear:both;
 margin:6px 0;
 height:auto;
}

#user #options form#options {
 float:left;
 width:385px;
 padding:0 10px;
 color:#000000;
 margin:0 40px;
}

#user #options #actions { 
 margin-top:10px;
}

#user #options #actions span {
 float:left;
}

#user #options #actions span.save {
 width:50px;
}

#user #options #actions span.save_all {
 width:230px;
}

#user #options #actions span.cancel {
 width:60px;
}

#user #options #icons span {
 /* Necessary, otherwise tooltips settings make input not work */
 z-index:2;
}

#user #options #icons li {
 float:left;
 list-style-type:none;
 margin:5px 0 10px 0;
 -moz-border-radius:12px;
 padding:8px;
 background-color:#dfe3e8;
} 

#user #options #icons span.image {
 float:left;
 width:120px;
 height:100px;
}

#user #options #icons p.keyword,
#user #options #icons p.comments {
 float:left;
 width:247px;
 margin:0;
}

#user #options #icons p.comments {
 margin:10px 0 0 0;
}

#user #options #icons span.keyword,
#user #options #icons span.comments {
 float:left;
 width:247px;
}

#user #options #icons span.delete {
 float:left;
 margin:10px 0 0 0;
 text-align:left;
 width:120px;
}

#user #options #icons input.keyword,
#user #options #icons input.comments {
 clear:both;
 float:left;
}

#user #options #icons p.newicon {
 clear:both;
 float:left;
 margin:10px 0 0 0;
}

#user #options #icons form#newicon {
 clear:both;
 margin:0 0 20px 0;
}

#user #options form#emails,
#user #options form#config,
#user #options form#journal {
 float:left;
 margin:40px;
 width:407px;
} 

#user #options form#emails p,
#user #options form#config p,
#user #options form#journal p {
 clear:both;
 margin:10px 0; padding:0;
 float:left;
 width:75%;
}

#user #options form#emails span,
#user #options form#config span,
#user #options form#journal span {
 float:left;
 width:25%;
 margin:10px 0; padding:0;
 text-align:right;
}

#user #options form#emails span.save,
#user #options form#config span.save,
#user #options form#journal span.save {
  float:right;
  margin-top:40px;
}
/* CONTEXT: user.comments */ 

#user #comments form#masslist #buttons_top span,
#user #comments form#masslist #buttons_bottom span {
 float:left;
}

#user #comments form#masslist #buttons_top span.approve{
 width:150px
}

#user #comments form#masslist #buttons_top span.select_none,
#user #comments form#masslist #buttons_top span.select_all{
 width:200px;
}

#user #comments form#masslist #buttons_top span.delete_all{
 width:137px;
 text-align:right;
}

#user #comments form#masslist #buttons_bottom span.new{
 float:right;
}

#user #comments form#viewtype {
 float:right;
 margin:0 0 10px 0;
}

/* COMMENT DEFINITIONS */

#user #comments #flat .header,
#user #comments #threaded .header,
#user #comments #nested .header,
#user #comments #editor .header {
 position:relative;
 width:100%;
 padding:0px;
 float:left;
 margin:10px 0 0 0;
 height:auto;
 min-height:102px;
 background-color:#cfd3d8;
 -moz-border-radius:12px;
}

#user #comments #flat span.icon,
#user #comments #threaded span.icon,
#user #comments #nested span.icon,
#user #comments #editor span.icon {
 position:relative;
 clear:both;
 left:10px;
 top:1px;
}

#user #comments #flat span.online,
#user #comments #threaded span.online,
#user #comments #nested span.online,
#user #comments #editor span.online {
 position:absolute;
 top:80px;
 left:120px;
}

#user #comments #flat span.subject,
#user #comments #threaded span.subject,
#user #comments #nested span.subject,
#user #comments #editor span.subject {
 position:absolute;
 top:10px;
 left:120px;
 font-size:13px;
 font-weight:bold;
}

#user #comments #flat span.authorfullname,
#user #comments #threaded span.authorfullname,
#user #comments #nested span.authorfullname,
#user #comments #editor span.authorfullname {
 position:absolute;
 left:120px;
 top:53px;
}

#user #comments #flat span.author,
#user #comments #threaded span.author,
#user #comments #nested span.author,
#user #comments #editor span.author {
 position:absolute;
 left:120px;
 top:40px;
}

#user #comments #flat span.stamp,
#user #comments #threaded span.stamp,
#user #comments #nested span.stamp,
#user #comments #editor span.stamp {
 position:absolute;
 left:120px;
 top:66px;
}

#user #comments #editor span.check {
 position:absolute;
 top:10px;
 left:87%;
}

#user #comments #editor span.address {
 position:absolute;
 top:40px; 
 color:#cfb3b8;
 padding:0 4px;
 border:1px solid #cfb3b8;
 -moz-border-radius:6px;
 left:75%;
}

#user #comments #flat span.delete_comment,
#user #comments #threaded span.delete_comment,
#user #comments #nested span.delete_comment,
#user #comments #editor span.delete_comment {
 position:absolute;
 top:40px;
 left:80%;
}

#user #comments #flat span.body,
#user #comments #threaded span.body,
#user #comments #nested span.body,
#user #comments #editor span.body {
 clear:both;
 text-align:justify;
 padding:0 2% 15px 2%;
}

#user #comments #flat .footer,
#user #comments #threaded .footer,
#user #comments #nested .footer,
#user #comments #editor .footer {
 clear:both;
 position:relative;
 width:100%;
 margin:5px 0;
 font-size:9px;
 border-top:1px #3c4b33 solid;
}
 
#user #comments #flat span.comment_reply,
#user #comments #threaded span.comment_reply,
#user #comments #nested span.comment_reply,
#user #comments #editor span.comment_reply {
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#user #comments #threaded span.comment_parent,
#user #comments #nested span.comment_parent,
#user #comments #editor span.comment_parent {
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#user #comments #threaded span.comment_thread,
#user #comments #nested span.comment_thread,
#user #comments #editor span.comment_thread {
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#user #comments #threaded ul,
#user #comments #nested ul,
#user #comments #editor ul {
 list-style-type:none;
 padding:0px;
 margin:0px;
 margin-left:20px;
}

#user #comments #flat ul,
#user #comments #flat ul.first,
#user #comments #threaded ul.first,
#user #comments #nested ul.first,
#user #comments #editor ul.first {
 width:487px;
 margin:0px;
}

#user #comments #flat ul li,
#user #comments #threaded ul li,
#user #comments #nested ul li,
#user #comments #editor ul li {
 clear:both;
}

#user #comments #flat ul li.deleted,
#user #comments #threaded ul li.deleted,
#user #comments #nested ul li.deleted,
#user #comments #editor ul li.deleted {
 font-size:12px;
 font-weight:bold;
 margin:10px 0;
}


/* CONTEXT: users.comments:flat */

#user #comments #flat ul {
 clear:both;
 list-style-type:none;
 padding:0px;
 margin:0px;
}

/* CONTEXT: users.comments:nested */

/* CONTEXT: users.comments:threaded */

#user #comments #threaded span.innerlink {
 float:left;
 padding:5px 0;
}

/* CONTEXT: users.comments:profile */

#user #comments #profile .header {
 float:left;
 position:relative;
 width:100%;
 padding:0px;
 height:auto;
 min-height:60px;
 background-color:#cfd3d8;
 -moz-border-radius:12px;
}

#user #comments #profile .header .information {
 float:left;
 width:auto;
}

#user #comments #profile span.icon {
 float:left;
 width:100px;
 min-height:50px;
 margin:10px;
}

#user #comments #profile span.online {
 float:left;
 clear:both;
 width:100px;
 height:20px;
 margin:0 0 2px 10px;
 text-align:center;
}

#user #comments #profile span.subject {
 float:left;
 clear:both;
 width:100%; 
 min-height:31px;
 font-size:13px;
 margin:10px 5px;
 font-weight:bold;
}

#user #comments #profile span.authorfullname {
 float:left;
 clear:left;
 width:100%;
 padding:0 0 0 5px;
}

#user #comments #profile span.author {
 float:left;
 clear:both;
 width:40%;
 margin:5px 0 0 5px;
}

#user #comments #profile span.address {
 float:left;
 width:40%;
 margin:5px 0 0 10px;
 color:#aaaaaa;
}

#user #comments #profile span.address:hover {
 color:#888888;
}

#user #comments #profile span.stamp {
 float:right;
 width:20%;
 margin:5px 0 0 5px;
 vertical-align:top;
}

#user #comments #profile span.delete_comment {
 float:right;
 clear:right;
 width:100%;
 vertical-align:bottom;
 text-align:right;
 margin:10px;
 width:auto;
 height:auto;
}

#user #comments #profile span.body {
  float:left;
  clear:both;
  text-align:justify;
  width:96%;
  padding:5px 2% 15px 2%;
 }

#user #comments #profile ul {
 clear:both;
 list-style-type:none;
 padding:0px;
 margin:0px;
 margin-left:25px;
}

#user #comments #profile ul.first {
 clear:both;
 list-style-type:none;
 width:487px;
 padding:0px;
 margin:0px;
}

#user #comments #profile li {
 float:left;
 margin:5px 0;
 background:#dce0e5;
 -moz-border-radius:6px;
}

#user #comments #profile span.delete_comment {
 float:right;
 width:auto;
 margin:5px 5px 0 0;
 text-align:right;
}

#user #comments #profile span.body {
 float:left;
 clear:none;
 width:372px;
 margin:2px 5px 5px 0;
 padding:0px;
 font-size:12px;
}
 
#user #comments #profile span.icon {
 float:left;
 clear:both;
 width:100px;
 margin:5px;
}


/* CONTEXT: users.comments:compact */

#user #comments #compact .header {
 float:left;
 width:100%;
 padding:2px;
 margin-top:3px;
 background-color:#cfd3d8;
 min-height:0px;
 height:14px;
 -moz-border-radius:6px;
}

#user #comments #compact span.subject {
 float:left;
 width:69%;
 min-height:0px;
 margin:0;
 margin-left:1%;
 font-size:11px;
 font-weight:bold;
 text-align:left;
}

#user #comments #compact span.byline {
 overflow:hidden;
 display:inline;
 float:left;
 width:29%;
 margin-right:1%;
 text-align:right;
}

#user #comments #compact span.body {
 clear:both;
 width:auto;
 padding:3px 5px 8px 5px;
}

#user #comments #compact .footer {
 font-size:9px;
 margin:4px;
 margin-top:0px;
 margin-bottom:5px;
 border-top:1px #3c4b33 solid;
}

#user #comments #compact span.comment_reply {
 display:inline;
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#user #comments #compact span.comment_parent {
 display:inline;
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#user #comments #compact span.comment_thread {
 display:inline;
 padding-left:5px;
 padding-right:5px;
 background:#cde1df;
}

#user #comments #compact ul {
 clear:both;
 padding:0px;
 margin:0px;
 margin-left:12px;
}

#user #comments #compact ul.first {
 clear:both;
 padding:0px;
 margin:0px;
}

/* CONTEXT: users.comments.editor */

#user #comments {
 float:left;
}

#user #comments .info {
 float:left;
 margin:10px;
 padding:10px;
 width:445px;
 font-style:italic; 
 border:1px solid #ecf0f5;
 background-color:#f5f9fc;
 -moz-border-radius:6px;
}

#user #comments p#heading {
 width:487px;
 float:left;
 margin:5px 0 0 0; 
 text-align:left;
 border-bottom:1px solid #000000;
}

#user #comments #editor {
 float:left;
}

#user #comments #actions,
#user #comments form#reply,
#user #comments #editor form#add {
 float:left;
 clear:both;
 width:340px;
 margin:10px 74px 0 73px;
}

#user #comments #actions {
 margin:10px 0;
}

#user #comments p.error {
 width:487px;
 left:0px;
}

#user #comments #editor form#add p.error {
 left:0px;
 color:#ff1A31;
 padding:1px;
 margin:0px;
 text-align:justify;
 font-style:italic;
 background:none;
 border:none;
} 

#user #comments #editor form#add p.error:hover {
 color:#aa0000;
} 

#user #comments #actions span {
 float:left;
}

#user #comments #actions span.comment_submit {
 width:260px;
 text-align:left;
}

#user #comments #actions span.cancel {
 width:80px;
 text-align:right;
}

/* user.groups */

#user #groups ul {
 position:relative;
 margin:0;
 padding:0;
 float:left;
 clear:both;
}

#user #groups li {
 list-style-type:none;
 float:left;
 clear:both;
 padding:5px;
 margin-bottom:10px;
 border:1px solid #8c9095;
 background:#ecf0f5;
 -moz-border-radius:12px;
} 

#user #groups li.remote {
 background:#dce0e5;
} 

#user #groups li span {
 float:left;
}

#user #groups li span.fullname {
 font-size:12px;
 font-weight:bold;
 width:355px;
 text-align:left;
}
#user #groups li span.stamp,
#user #groups li span.members {
 width:100px;
 text-align:right;
} 

#user #groups li span.owner {
 width:20px;
}

#user #groups li span.link {
 clear:both;
 width:375px;
}
/* edit, new */

#user #comments #editor p {
 margin:10px 0 0 0;
} 

